@use '../../../../../styles/common';

.characterModifierConditionDialog {
	.attributeList, .assetList {
		height: 60vh;
		min-width: min(80vw, 30em);
		border: 2px solid common.$theme-separator;
		padding: 2px;
		overflow-y: scroll;

		@include common.forcedColors {
			border-color: common.$forcedColors-separator;
		}

		button:not(.emptySelectionButton) {
			text-align: start;
		}
	}
}
