.editor .editor-ui .editor-pointsui {
	display: flex;
	flex-flow: column;
	gap: 0.3em;

	select {
		padding: 0.2em;
	}

	& > div {
		display: flex;
		flex-flow: row wrap;
		gap: 0.3em;

		align-items: center;
	}

	textarea {
		height: unset;
		resize: vertical;
	}

	.error {
		color: darkred;
	}
}
