@import '../../styles/common';
@import 'HeaderButton';

.Header {
	@include flex(row, wrap);
	background: $theme-header-background;
	color: $theme-header-text;
	width: 100%;
	position: relative;

	& > div {
		@include flex(row, wrap);
		align-items: flex-start;
		min-height: $header-button-height;

		&.rightHeader, &.leftHeader {
			align-items: stretch;
		}

		.label {
			display: none;
		}
	}

	span {
		@include center-flex;
		min-width: 6em;
		min-height: $header-button-height;
		padding: 0 1em;
	}

	.collapsableHeaderButton {
		background: $theme-header-collapsable-background;
		color: $theme-header-collapsable-text;
	}
}

.OverlayHeader {
	position: absolute;
	inset: 0;
	z-index: 1000;
	margin: 0;
	overflow: hidden;
	pointer-events: auto;
	background: $theme-header-collapsable-background;
	color: $theme-header-collapsable-text;
	transition: all 200ms linear;

	&.hide {
		transform: translateY(-100vh);
	}

	>.content {
		flex: 1;
		padding: 2em;
		overflow: auto;

		> hr {
			width: 100%;
		}

		> div {
			@include flex(column, wrap);
			align-items: stretch;
			min-height: $header-button-height;
			flex: unset;

			> button, > span {
				@include flex(row);
				align-items: center;
				min-width: 6em;
				min-height: $header-button-height;
				padding: 0 1em;
			}

			> span {
				justify-content: center;
			}

			.label {
				padding: 0 0.2em;
			}
		}
	}
}
