@import '../../styles/constants';
@import '../../styles/utils';
@import 'HeaderButton';

.Header {
	@include flex(row, wrap);
	background-color: $grey-mid;
	width: 100%;
	position: relative;

	& > div {
		@include flex(row, wrap);
		align-items: flex-start;
		min-height: $header-button-height;

		&.rightHeader, &.leftHeader {
			align-items: stretch;
		}

		.label {
			display: none;
		}
	}

	span {
		@include center-flex;
		min-width: 6em;
		min-height: $header-button-height;
		padding: 0 1em;
	}

	.characterMenu {
		@include flex(column);
		background: #888;
		position: absolute;
		top: calc(100% + 0.2em);
		left: 0.2em;
		border: 0.2em solid black;
		z-index: $z-index-menu;
		header {
			@include center-flex;
			background: #777;
			padding: 0.2em;
		}
	}
}

.OverlayHeader {
	position: fixed;
	inset: 0;
	z-index: 1000;
	margin: 0;
	overflow: hidden;
	pointer-events: auto;
	background-color: $grey-mid;
	transition: all 150ms linear;

	&.hide {
		transform: translateX(-100%);
	}

	>.content {
		flex: 1;
		padding: 2em;
		overflow: auto;

		> hr {
			width: 100%;
		}

		> div {
			@include flex(column, wrap);
			align-items: stretch;
			min-height: $header-button-height;
			flex: unset;

			> button, > span {
				@include flex(row);
				align-items: center;
				min-width: 6em;
				min-height: $header-button-height;
				padding: 0 1em;
			}

			> span {
				justify-content: center;
			}

			.label {
				padding: 0 0.2em;
			}
		}
	}
}
