@use '../../styles/common';

$header-button-img-height: 1.5em;
$header-button-v-padding: 0.3em;
$header-button-height: $header-button-img-height + 2 * $header-button-v-padding;

.HeaderButton {
	background: common.$theme-header-button-normal-background;
	color: common.$theme-header-button-normal-text;
	border: 1px solid transparent;
	border-radius: common.spacing('small');
	outline-offset: -0.2em;
	min-width: 4em;

	@include common.forcedColors {
		background: ButtonFace;
		color: ButtonText;
		border-color: ButtonBorder;
	}

	.icon-container {
		position: relative;
		display: inline-block;
		height: $header-button-height;
		padding: $header-button-v-padding 0.5em;

		.badge {
			position: absolute;
			display: inline-block;
			border-radius: 100%;
			bottom: 0;
			left: 60%;
			aspect-ratio: 1;
			min-height: unset;
			min-width: unset;
			width: 1.4em;
			height: 1.4em;
			font-size: 0.8em;
			line-height: 1.5;
			background: common.$theme-notification-badge-background;
			color: common.$theme-notification-badge-text;
			padding: 0 0.3em;

			@include common.forcedColors {
				background: Mark;
				color: MarkText;
			}
		}
	}

	img {
		height: $header-button-img-height;
		filter: common.$theme-header-button-normal-imgfilter;

		@include common.forcedColors {
			filter: none;
		}
	}

	&:hover {
		background: common.$theme-header-button-hover-background;
		color: common.$theme-header-button-hover-text;

		@include common.forcedColors {
			background: ButtonFace;
			color: ButtonText;
			border-color: common.$forcedColors-accentColorFallback;
			border-color: AccentColor;
		}

		img {
			filter: common.$theme-header-button-hover-imgfilter;

			@include common.forcedColors {
				filter: none;
			}
		}
	}

	&:focus-visible {
		outline: 0.2em solid common.$theme-header-button-visiblefocus-outline;

		@include common.forcedColors {
			outline-color: common.$forcedColors-accentColorFallback;
			outline-color: AccentColor;
		}
	}
}
