.LeaveDialog {
	fieldset {
		display: flex;
		flex-flow: column;
		margin-bottom: 0.5em;
		width: min(30em, 80vw);
		user-select: text;

		button {
			margin-top: 1em;
			margin-left: auto;
			width: 12em;
			user-select: none;
		}
	}
}
