.LeaveDialog {
	fieldset {
		display: flex;
		flex-flow: column;
		margin-bottom: 0.5em;
		width: 30em;
		user-select: text;

		button {
			margin-top: 1em;
			margin-left: auto;
			width: 12em;
		}
	}
}
