@use '../../styles/common';

.LeaveDialog {
	fieldset {
		display: flex;
		flex-flow: column;
		width: min(30em, 80vw);
		user-select: text;
		border-color: common.$theme-separator;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-color: common.$forcedColors-separator;
		}

		.unimportant {
			color: common.$theme-normal-text-dim;

			@include common.forcedColors {
				color: inherit;
			}
		}

		button {
			margin-top: 1em;
			margin-left: auto;
			width: 14em;
			user-select: none;
		}
	}
}
