@use '../../styles/common';

.OverlayNotificationMenu {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	width: min(75vw, 25rem);
	z-index: common.$z-index-dialog;
	margin: 0;
	overflow: hidden;
	pointer-events: auto;
	border: 2px solid common.$theme-separator;
	background: common.$theme-header-collapsable-background;
	color: common.$theme-header-collapsable-text;
	transition: transform 200ms linear;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border-color: common.$forcedColors-separator;
	}

	@media only screen and (width < 48rem) {
		border: none;
		width: unset;
		left: 0;
	}

	&.hide {
		transform: translateX(100%);
	}

	.topButton {
		width: 2.5em;
		height: 2.5em;
	}

	>.content {
		flex: 1;

		.notificationEntry {
			border: 1px solid common.$theme-separator;
			border-radius: 0.3em;
			background-color: common.$theme-normal-background;
			color: common.$theme-normal-text;

			@include common.forcedColors {
				background: Canvas;
				color: CanvasText;
				border-color: common.$forcedColors-separator;
			}

			.dismissButton {
				width: 2em;
				height: 2em;
			}

			.title {
				font-weight: bold;

				&.Button {
					justify-content: start;
				}
			}

			p {
				margin: 0;
				max-width: 100%;
				max-height: 6em;
				word-wrap: break-word;
				overflow: auto;
				text-overflow: ellipsis;
			}
		}

		.noNotificationsInfo {
			color: common.$theme-normal-text-dim;

			@include common.forcedColors {
				color: GrayText;
			}
		}
	}
}
