@import '../../../styles/common';

// Also used by beta keys
.shards {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 1em;
	gap: 1em;

	> table {
		max-width: 50em;
		margin: auto;
		border: 1px solid $theme-table-border;
		border-collapse: collapse;
		background: $theme-table-body-background;
		color: $theme-table-body-text;

		th {
			background: $theme-table-header-background;
			color: $theme-table-header-text;
		}

		tr {
			background: $theme-table-body-background;
			color: $theme-table-body-text;

			&:nth-child(2n) {
				background: $theme-table-body-altbackground;
			}

			&.invalid {
				background: #aa0000aa; // Local meaning, not themed

				&:nth-child(2n) {
					background: #bb2222aa; // Local meaning, not themed
				}
			}
		}

		th,
		td {
			text-align: center;
			white-space: nowrap;
			border: 1px solid $theme-table-border;
			padding: 0.1em 0.2em;
		}
	}

	> .shard-create {
		margin: auto;

		.input-row {
			display: flex;
			margin: 0.5em 0;

			label {
				width: 8em;
				margin: auto 0;
			}

			input[type=checkbox] {
				margin: auto 0;
			}

			input[type=text],
			input[type=number],
			input[type=date] {
				margin-left: 0.5em;
				width: 10em;
			}
		}
	}
}
