@import '../../../styles/common';

.shards {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 1em;
	gap: 1em;

	&>table {
		max-width: 50em;
		margin: auto;
		border: 1px solid black;
		border-collapse: collapse;
		background-color: $grey-lighter;

		thead {
			background-color: $grey-light;
		}

		tr.invalid {
			background-color: #aa0000aa;
		}

		th,
		td {
			text-align: center;
			white-space: nowrap;
			border: 1px solid black;
			padding: 0.1em 0.2em;
		}
	}

	&>.shard-create {

		margin: auto;

		.input-row {
			display: flex;

			label {
				width: 8em;
				height: 2em;
				margin: auto 0;
			}

			input[type=checkbox] {
				margin: auto 0;
			}

			input[type=text],
			input[type=date] {
				margin-left: 0.5em;
				width: 10em;
			}
		}
	}
}
