@use '../../../styles/common';

// Also used by beta keys
.shards {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 1em;
	gap: 1em;

	> table {
		max-width: 50em;
		margin: auto;

		tr.invalid {
			background: #aa0000aa; // Local meaning, not themed
			forced-color-adjust: none;

			&:nth-child(2n) {
				background: #bb2222aa; // Local meaning, not themed
			}
		}

		th, td {
			white-space: nowrap;
		}
	}

	> .shard-create {
		margin: auto;

		.input-row {
			display: flex;
			margin: 0.5em 0;

			label {
				width: 8em;
				margin: auto 0;
			}

			input[type=checkbox] {
				margin: auto 0;
			}

			input[type=text],
			input[type=number],
			input[type=date] {
				margin-left: 0.5em;
				width: 10em;
			}
		}
	}
}
