@import '../../styles/constants';

.direct-messages {
	display: flex;
	flex-flow: row;
	gap: 0.3em;
	height: 100%;

	>&__list {
		width: 10em;
		background-color: $grey-darker;
		position: relative;

		input {
			width: 100%;
		}

		ul {
			padding: 0 0.5em;
			list-style-type: none;
			overflow-x: hidden;
			overflow-y: scroll;

			&::-webkit-scrollbar {
				width: 0.5em;
			}

			&::-webkit-scrollbar-thumb {
				background-color: $grey-darkest;
				border-radius: 0.5rem;
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: $black;
			}
		}

		li {
			position: relative;
			color: $white;
			border: 1px solid $grey-mid;
			border-radius: 0.3em;
			padding: 0.5em;
			margin-bottom: 0.5em;

			span {
				position: absolute;
				color: red;
				right: 0.3em;
				font-weight: bold;
			}
		}

		.input-line {
			display: flex;
			flex-flow: row;
			position: absolute;
			bottom: 0;
		}
	}

	>.direct-message {
		flex: 1;
	}
}
