@import '../../styles/common';

.direct-messages {
	display: flex;
	flex-flow: row;
	background: $theme-dms-base-background;
	height: 100%;

	&__list {
		width: 10em;
		background: $theme-dms-list-background;
		border-right: max(2px, 0.1em) solid $theme-separator;
		position: relative;

		input {
			width: 100%;
		}

		ul {
			margin: 0;
			padding: 0.5em;
			list-style-type: none;
			flex: 1;
		}

		li {
			position: relative;
			background: $theme-dms-list-item-normal-background;
			color: $theme-dms-list-item-text;
			border: 1px solid $theme-dms-list-item-border;
			border-radius: 0.3em;
			padding: 0.5em;
			margin-bottom: 0.5em;

			.unreadIndicator {
				position: absolute;
				color: $theme-dms-list-item-unread-indicator;
				right: 0.3em;
				font-weight: bold;
			}

			&.selected {
				background: $theme-dms-list-item-selected-background;
			}

			&.temp {
				background: $theme-dms-list-item-temp-background;
				font-style: italic;
			}
		}
	}

	>.direct-message, >.chatArea {
		flex: 1;

		.error {
			color: $theme-dms-chat-error;
			font-weight: bold;
			text-align: center;
			margin: auto;
		}

		.loading {
			color: $theme-dms-chat-loading;
			font-weight: bold;
			text-align: center;
			margin: auto;
		}
	}

	>.direct-message-crypto-dialog {
		flex: 1;
		height: 100%;
		background: $theme-dms-crypto-dialog-base-background;

		.dialog-content {
			background: $theme-dms-crypto-dialog-background;
			color: $theme-dms-crypto-dialog-text;
			border-radius: 0.5em;

			hr {
				width: 100%;
			}
		}
	}
}
