.tutorialDialogContainer {
	z-index: 90000;
}

.tutorialDialog {
	max-width: max(50vw, min(95vw, 50em));

	.finishedStep {
		color: darkgrey;
		font-style: italic;
	}

	.maid-container {
		overflow: hidden;
		max-height: 55vh;
		max-width: 15vw;
		padding-bottom: 0.5em;

		img {
			max-width: 100%;
			max-height: 100%;
			object-fit: contain;
		}
	}
}

.dialog.aboveTutorial {
	z-index: 90900;
}

.tutorial-highlight-overlay {
	position: absolute;
	overflow: hidden;
	margin: 0;
	z-index: 91000;
	pointer-events: none;

	background-color: transparent;
	border: solid red 0.3em;
	border-radius: 0.5em;

	animation: tutorial-highlight-overlay-blink 1s infinite alternate-reverse;
}

@keyframes tutorial-highlight-overlay-blink {
	from {
		border-color: darkred;
	}
	to {
		border-color: orange;
	}
}
