update-notifier=false
strict-peer-dependencies=true
verify-deps-before-run=error
inject-workspace-packages=false
force-legacy-deploy=true
node-options="--no-warnings=ExperimentalWarning --experimental-vm-modules"
