@import '../../styles/utils';
@import '../../styles/constants';
@import '../../styles/forms';

$header-height: 2em;

.wardrobe {
	display: flex;
	flex-flow: row;
	gap: 1em;

	height: 100%;

	.characterPreview {
		height: 100%;
		width: max(min(20em, 90vw), 33vw);
		flex-shrink: 0;

		&.disabled {
			display: none;
		}

		canvas {
			height: 100%;
			width: 100%;
		}
	}
}

.wardrobe-pane {
	display: flex;
	flex: 1;
	border: solid black 2px;
	padding: 1em;
	background-color: #aaaaaaaa;
	overflow: hidden;
}

.wardrobe-ui {
	display: flex;
	flex-flow: row;
	position: relative;
	width: 100%;
	gap: 1em;
}

.inventoryView {
	@include flex(column);
	flex: 1;
	overflow: hidden;
	min-width: min(20em, 90vw);

	background-color: $grey-lighter;
	border: solid $black 2px;

	.toolbar {
		flex-shrink: 0;
		min-height: 3.5em;
		display: flex;
		flex-direction: row;
		padding: 0.25em 0.25em;
		gap: 0.3em;
		border-bottom: solid black 1px;

		span {
			flex: 1;
			display: flex;
			align-items: center;
			padding: 0.2em;
		}

		button {
			border: solid $black 1px;
			margin: 2px;

			&.active {
				background-color: $grey-mid;
			}
		}

		input[type=text] {
			padding: 0.2em;
			height: 2em;
			margin: auto;
			width: 10vw;
		}
	}

	.list,
	.grid {
		overflow: auto;
		padding: 3px;
		gap: 3px;
	}

	.list {
		display: flex;
		flex-flow: column;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}

	>.fieldset-toggle {
		margin-top: 1em;
	}
}

.inventoryViewItem {
	@extend button;
	border: solid $black 1px;
	background-color: $grey-lighter;
	display: flex;

	&.selected {
		background-color: #97c;
	}

	&.allowed:hover {
		cursor: pointer;
		background-color: $grey-light;
		&.selected {
			background-color: #86a;
		}
	}

	&.blocked {
		background-color: #977;
	}

	&.listMode {
		padding: 3px 0.5em;
		height: 3em;
		align-items: center;
		gap: 0.5em;

		.itemPreview {
			height: 1.5em;
			width: 1.5em;
			border: solid $black 1px;
		}

		.quickActions {
			margin-left: auto;
		}
	}

	&.gridMode {
		padding: 0.5em;
		flex-direction: column;
		row-gap: 0.5em;

		.itemPreview {
			width: 100%;
			aspect-ratio: 1;
			border: solid $black 1px;
		}

		.itemName {
			@include center-flex;
			text-align: center;
			min-height: 2em;
			width: 100%;
		}

		.quickActions {
			flex-flow: wrap;
			margin: auto;
		}
	}

	.quickActions {
		display: flex;
		gap: 0.2em;
		margin-left: auto;

		.wardrobeActionButton {
			height: 2.2em;
			width: 2.2em;
		}
	}
}

.wardrobeActionButton {
	@include center-flex;
	min-height: 2.5em;
	min-width: 2.5em;
	border: 1px solid black;

	background-color: $grey-lighter;

	&.selected {
		background-color: #97c;
	}

	&.allowed:hover {
		cursor: pointer;
		background-color: $grey-mid;

		&.selected {
			background-color: #86a;
		}
	}

	&.blocked {
		cursor: default;
		background-color: #977;
	}
}

.wardrobeColorRow {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

.bone-ui {
	overflow: auto;
	padding: 0.5em;
	display: flex;
	flex-flow: column;
	gap: 0.5em;

	>h3 {
		margin-left: 2rem;
	}

	>h4 {
		margin: 0 0 0 0.5em;
	}

	.pose-row {
		display: flex;
		flex-flow: row wrap;
		gap: 0.5em;
		margin: 0 1em;

		.Button:disabled {
			background-color: $grey-lighter;
			color: $grey-darkest;

			&.pose-unavailable {
				background-color: $grey-darker;
				color: $grey-mid;
				opacity: 40%;
			}
		}
	}

	.bone-rotation {
		display: flex;
		flex-flow: row;
		width: 100%;
		gap: 0 0.5rem;

		>input[type='range'] {
			width: 100%;
			border-radius: 0.2em;
			padding: 0;
		}

		>input[type='number'] {
			text-align: right;
			width: 5rem;
			border: 0.1em solid;
			border-radius: 0.2em;
		}
	}
}
