@import '../../styles/utils';
@import '../../styles/constants';

$header-height: 2em;

.wardrobe {
	display: flex;
	flex-flow: row;
	gap: 1em;

	height: 100%;

	.characterPreview {
		height: 100%;
		width: max(min(20em, 90vw), 33vw);
		flex-shrink: 0;

		canvas {
			height: 100%;
			width: 100%;
		}
	}
}

.wardrobe-pane {
	display: flex;
	flex: 1;
	border: solid black 2px;
	padding: 1em;
	background-color: #aaaaaaaa;
	overflow: hidden;
}

.wardrobe-ui {
	display: flex;
	flex-flow: row;
	position: relative;
	width: 100%;
	gap: 1em;
}

.inventoryView {
	@include flex(column);
	flex: 1;
	overflow: hidden;
	min-width: min(20em, 90vw);

	background-color: $grey-lighter;
	border: solid $black 2px;

	.toolbar {
		flex-shrink: 0;
		height: 3em;
		display: flex;
		flex-direction: row;

		span {
			flex: 1;
			display: flex;
			align-items: center;
			padding: 0.2em;
		}

		button {
			border: solid $black 1px;
			margin: 2px;

			&.active {
				background-color: $grey-mid;
			}
		}

		input[type=text] {
			padding: 0.2em;
			height: 2em;
			margin: auto;
			width: 10vw;
		}
	}

	.list,
	.grid {
		overflow: auto;
		padding: 3px;
		gap: 3px;
	}

	.list {
		display: flex;
		flex-flow: column;
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));
	}
}

.inventoryViewItem {
	border: solid $black 1px;
	background-color: $grey-lighter;
	display: flex;

	&.allowed:hover {
		cursor: pointer;
		background-color: $grey-light;
	}

	&.blocked {
		background-color: #977;
	}

	&.listMode {
		padding: 3px 0.5em;
		height: 2em;
		align-items: center;
		gap: 0.5em;

		.itemPreview {
			height: 1.5em;
			width: 1.5em;
			border: solid $black 1px;
		}
	}

	&.gridMode {
		padding: 0.5em;
		flex-direction: column;
		row-gap: 0.5em;

		.itemPreview {
			width: 100%;
			aspect-ratio: 1;
			border: solid $black 1px;
		}

		.itemName {
			@include center-flex;
			text-align: center;
			min-height: 2em;
			width: 100%;
		}
	}
}
