@import '../../styles/common';
@import '../../styles/forms';

$header-height: 2em;

.wardrobe {
	display: flex;
	flex-flow: column;
	gap: 0.5em;
	height: 100%;
	min-width: fit-content;

	.safemode {
		@include center-flex;
		background: $theme-warning;
		border: solid black 1px;
		padding: 0.25em;
	}

	.wardrobeMain {
		flex: 1;
		overflow: hidden;
		display: flex;
		flex-flow: row;
		gap: 1em;

		.characterPreview,
		.roomPreview {
			position: relative;
			height: 100%;
			width: max(min(20em, 90vw), 33vw);
			flex-shrink: 0;

			&.disabled {
				display: none;
			}

			canvas {
				height: 100%;
				width: 100%;
			}

			.overlay {
				position: absolute;
				inset: 0;
				align-items: flex-start;
				pointer-events: none;

				>* {
					pointer-events: auto;
				}

				.iconButton {
					min-width: 2em;
					min-height: 2em;
				}

				.warning {
					@include center-flex;
					background: $theme-warning;
					border: solid black 1px;
					border-radius: 1em;
					padding: 0.25em 0.5em;
				}
			}

			input[type='color'] {
				width: 2em;
				height: 2em;
				border-radius: 0.2em;
				cursor: pointer;
				background-color: $grey-darkest;

				&:hover {
					background-color: $grey-lightest;
				}
			}
		}
	}
}

.wardrobe-pane {
	display: flex;
	flex: 1;
	border: solid black 2px;
	padding: 1em;
	background-color: #aaaaaaaa;
	overflow: hidden;
}

.wardrobe-ui {
	display: flex;
	flex-flow: row;
	position: relative;
	width: 100%;
	gap: 1em;
}

$drop-overlay-height: 1.8em;
$drop-overlay-gap: 0.3em;

.inventoryView {
	@include flex(column);
	flex: 1;
	overflow: hidden;
	min-width: min(20em, 90vw);

	background-color: $grey-lighter;
	border: solid $black 2px;

	.toolbar {
		flex-shrink: 0;
		min-height: 3.5em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		padding: 0.25em 0.25em;
		gap: 0.3em;
		border-bottom: solid black 1px;

		span {
			flex: 1;
			display: flex;
			align-items: center;
			padding: 0.2em;
		}

		.modeButton {
			border: solid $black 1px;
			margin: 2px;

			&.active {
				background-color: $grey-mid;
			}
		}

		.IconButton {
			width: 3em;
			height: 3em;
		}

		.iconHeightButton {
			min-height: 3em;
		}

		input[type=text] {
			padding: 0.2em;
			height: 2em;
			margin: auto;
			width: 10vw;
		}
	}

	.listContainer {
		display: flex;
		flex-flow: column;
		position: relative;
		overflow: hidden;
		flex: 1;
		padding: 0;
		margin: 0;
	}

	.outfit {
		width: 100%;
		border: solid black 2px;

		.outfitMainButton {
			width: 100%;
			min-height: 5em;
			overflow: hidden;
			display: flex;

			border: solid black 1px;
			background-color: $grey-lighter;

			&:hover {
				background-color: $grey-light;
			}

			.outfitPreview {
				@include center-flex;
				max-height: 100%;
				width: 3.4em;
				margin: 0.2em 0;
				padding: 0;
				border: solid black 1px;
				overflow: hidden;
				aspect-ratio: 2 / 3;

				&.big {
					width: min(35%, 30vh);
				}

				canvas {
					max-width: 100%;
					max-height: 100%;
				}
			}
		}
	}

	.overlay {
		position: absolute;
		inset: 0;
		isolation: isolate;

		z-index: 10;
		background-color: #00000050;

		.centerButton {
			width: max(10em, 50%);
			height: max(8em, 40%);

			@include center-flex;
		}
	}

	.Scrollbar {
		flex: 1;
		overflow: auto;
		overflow-x: hidden;
	}

	.list,
	.grid {
		position: relative;
		min-height: 100%;
		padding: 3px;
		gap: 3px;
		flex: 1;

		&.withDropButtons {
			padding: calc($drop-overlay-height * 0.5 + 3px) 3px;
		}

		.overlayDropContainer {
			position: relative;

			min-height: $drop-overlay-gap;

			.overlayDrop {
				position: absolute;
				top: calc($drop-overlay-height * -0.5 + $drop-overlay-gap * 0.5);
				left: 3.6em;
				right: 2em;
				height: $drop-overlay-height;
				z-index: 11;

				isolation: isolate;

				@include center-flex;
			}
		}
	}

	.list {
		display: flex;
		flex-flow: column;

		&.reverse {
			flex-flow: column-reverse;
			justify-content: flex-end;
		}

		&.spawn-style-preference .inventoryViewItem::after {
			right: 5.2em;
		}
	}

	.spawn-style-preference .inventoryViewItem:hover {
		cursor: default !important
	}

	.grid {
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 384px));
		grid-template-rows: min-content auto;
	}

	@media (min-width: 1536px) {
		.grid {
			grid-template-columns: repeat(4, minmax(0, 384px));
		}
	}

	>.fieldset-toggle {
		margin-top: 1em;
	}
}

.inventoryViewItem {
	border: solid $black 1px;
	background-color: $grey-lighter;
	display: flex;
	position: relative;

	&.selected {
		color: $white;
		background-color: $grey-darker;
	}

	&.allowed:hover {
		cursor: pointer;
		background-color: $grey-light;

		&.selected {
			background-color: $black;
		}
	}

	&:focus,
	&:active {
		border-color: white;
	}

	&.blocked {
		background-color: #977;
	}

	&.pending {
		background-color: #999;
	}

	>.colorRibbon {
		position: absolute;
		display: inline-block;
		inset: 0;
		clip-path: polygon(0 0, 0.75em 0, 0 0.75em);
	}

	.itemPreview {
		&.missing {
			border: solid $black 1px;
			@include center-flex;
		}

		img {
			width: 100%;
			height: 100%;

			&.black {
				filter: brightness(0) saturate(100%);
			}
		}
	}

	&.listMode {
		height: fit-content;
		min-height: 2em;
		align-items: center;
		gap: 0.5em;

		&.small {
			min-height: 2em;
		}

		.itemName {
			margin: 3px;
		}

		.itemPreview {
			height: 1.5em;
			width: 1.5em;
			aspect-ratio: 1;
			margin-left: 0.5em;

			&.image {
				height: 100%;
				width: unset;
				margin-left: 0;
			}
		}

		.quickActions {
			margin: 3px 3px 3px auto;
		}

		select {
			margin-left: auto;
			height: 2em;
			width: fit-content;
			line-height: 2em;
			padding: 0;
		}
	}

	&.gridMode {
		padding: 0.5em;
		flex-direction: column;
		row-gap: 0.5em;

		.itemPreview {
			width: 100%;
			aspect-ratio: 1;
		}

		.itemName {
			@include center-flex;
			text-align: center;
			min-height: 2em;
			width: 100%;
		}

		.quickActions {
			flex-flow: wrap;
			margin: auto;
		}

		&::after {
			top: 0.3em;
		}
	}

	&::after {
		position: absolute;
		right: 0.3em;
		font-size: 1.5em;
		line-height: 1em;
		width: 1em;
		height: 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		text-shadow: 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black, 0 0 0.05em black;
	}

	&.pref-maybe {
		.itemPreview.image>img {
			filter: grayscale(30%);
		}

		.itemName {
			font-style: italic;
		}

		&::after {
			content: '?';
			color: rgb(250, 125, 0);
		}
	}

	&.pref-prevent,
	&.pref-doNotRender {
		.itemName {
			text-decoration: line-through;
			font-style: italic;
		}
	}

	&.pref-prevent {
		.itemPreview.image>img {
			filter: grayscale(100%);
		}

		&::after {
			content: '✕';
			color: rgb(250, 0, 0);
		}
	}

	&.pref-doNotRender {
		.itemPreview.image>img {
			filter: grayscale(100%) blur(3px);
		}
	}

	&.pref-favorite {
		.itemName {
			font-weight: bold;
		}

		&::after {
			content: '★';
			color: rgb(250, 250, 0);
		}
	}

	.quickActions {
		display: flex;
		gap: 0.2em;
		margin-left: auto;

		.wardrobeActionButton {
			height: 2.2em;
			width: 2.2em;
		}
	}

	.overlayDrop {
		@include center-flex;
		isolation: isolate;
		position: absolute;
		top: 0.2em;
		bottom: 0.2em;
		left: 2.6em;
		right: 1em;
		z-index: 11;
	}
}

.wardrobeActionButton {
	@include center-flex;
	border: 1px solid black;

	&:not(.slim) {
		min-height: 2.5em;
		min-width: 2.5em;
	}

	background-color: $grey-lighter;

	&.selected {
		color: $white;
		background-color: $grey-darker;
	}

	&:disabled {
		background-color: $grey-dark;

		&.selected {
			color: $white;
			background-color: $grey-darker;
		}
	}

	&.allowed:hover:not(:disabled) {
		cursor: pointer;
		background-color: $grey-mid;

		&.selected {
			background-color: $black;
		}
	}

	&:focus,
	&:active {
		border-color: white;
	}

	&.blocked:not(.selected) {
		cursor: default;
		background-color: #977;
	}

	&.pending:not(.selected) {
		background-color: #999;
	}


}

.wardrobeColorRow {
	display: flex;
	align-items: center;
	gap: 0.5em;
	margin-bottom: 0.5em;
}

.bone-ui {
	overflow: auto;
	padding: 0.5em;
	display: flex;
	flex-flow: column;
	gap: 0.5em;

	>h3 {
		margin-left: 2rem;
	}

	>h4 {
		margin: 0 0 0 0.5em;
	}

	.requestedPoseIndicatorText {
		padding: 0 0.5em;
	}

	.pose-row {
		margin: 0 1em;

		.pose {
			&.pose-unavailable {
				opacity: 60%;
			}
		}
	}

	.armPositioningTable {
		margin: 0.5em;

		&,
		td {
			border: solid 1px black;
			border-collapse: collapse;
			padding: 0.25em;
			text-align: center;
		}
	}

	.bone-rotation {
		display: flex;
		flex-flow: row;
		width: 100%;
		gap: 0 0.5rem;

		>input[type='range'] {
			width: 100%;
			border-radius: 0.2em;
			padding: 0;
		}

		>input[type='number'] {
			text-align: right;
			width: 5rem;
			border: 0.1em solid;
			border-radius: 0.2em;
		}
	}
}

.action-warning,
.attribute-description {
	background: white;
	padding: 1em;
	border: 2px solid black;
	border-radius: 1em;
	line-height: 1.5em;
}

.attribute-description {
	text-align: center;

}

.WardrobeLockPassword {
	margin: 1em 0;
}

.WardrobeInputRow {
	margin-left: 0.5em;
	min-height: 1.6em;

	label {
		flex: 1 1;
		margin: auto 0;
	}

	span {
		width: 100%;
		color: $theme-error;
		text-align: right;
	}

	input[type='checkbox'] {
		transform: scale(1.6);
	}
}

.positioning-input {
	width: 8em;
}
