@import '../../../styles/common';

.pose-presets-table {
	td {
		background: $theme-dialog-background;
		button {
			display: inline-flex;
			text-align: center;
			justify-content: center;

			span, img {
				margin: auto;
			}

			@media (max-width: 768px) {
				span {
					display: none;
				}
			}
		}
	}
}
