@use '../../../styles/common';

.asset-ui {
	>div {
		display: flex;
		flex-flow: row;
		margin-bottom: 1em;
		gap: 0.5em;
	}

	&,
	ul {
		list-style-type: none;
	}

	// This is for nested lists
	ul {
		padding-left: 2rem;
		margin-top: 0.5rem;
		border-left: 2px dashed common.$theme-editor-nestedlist-guide;

		@include common.forcedColors {
			border-left-color: common.$forcedColors-separator;
		}
	}

	&>ul {
		border-left: none;
		padding: 1rem;
	}

	li {
		margin-bottom: 0.5rem;
		position: relative;
		min-height: 1.5rem;

		&.toggle-li > span {
			margin-bottom: 0.5rem;

			cursor: pointer;

			&::before {
				content: ' ';
				display: inline-block;
				background-repeat: no-repeat;
				width: 1rem;
				height: 1rem;
				padding-right: 0.5rem;
			}

			&.opened::before {
				content: '[-]';
			}

			&.closed::before {
				content: '[+]';
			}
		}

		.controls {
			position: absolute;
			display: flex;
			right: 0;
			top: 0;
			gap: 0.25rem;

			&>button {
				font-weight: bold;
				width: 1.6rem;
				height: 1.6rem;
				padding: 0;
			}
		}
	}
}
