.asset-ui {
	& {
		padding: 0;
	}

	&,
	ul {
		list-style-type: none;
	}

	ul {
		padding-left: 2rem;
		margin-top: 0.5rem;
		border-left: 2px dashed black;
	}

	&>ul {
		border-left: none;
		padding: 1rem;
	}

	li {
		margin-bottom: 0.5rem;
		position: relative;
		min-height: 1.5rem;

		&.toggle-li > span {
			margin-bottom: 0.5rem;

			cursor: pointer;

			&::before {
				content: ' ';
				display: inline-block;
				background-repeat: no-repeat;
				width: 1rem;
				height: 1rem;
				padding-right: 0.5rem;
			}

			&.opened::before {
				content: '[-]';
			}

			&.closed::before {
				content: '[+]';
			}
		}

		.controls {
			position: absolute;
			display: flex;
			right: 0;
			top: 0;
			gap: 0.1rem;

			&>button {
				border: 2px solid;
				border-radius: 0.5rem;
				font-weight: bold;
				background: #666;
				width: 1.6rem;
				height: 1.6rem;
				color: initial;
				padding: initial;
			}
		}
	}
}
