### Server connection ###

# Token that the API will use, required for most commands.
# Pandora API tokens begin with "pdr_at_" and can be obtained through Client's Settings -> Advanced Settings -> Access Tokens.
PANDORA_API_TOKEN=""

# Directory server the API will connect to. See 'PandoraApiCreateOptions::directoryConnectionAddress' in API for full info.
# Common values:
# - "main" - Main production server. (default)
# - "mainFallback" - Fallback path to production server. Use sparingly, as it has lower capacity than default path.
# - "ptb" - Public Test Build server. See https://ptb.project-pandora.com/ for more details.
# - "localDev" - Default configuration for locally running development server. You can use this if you host your own Pandora instance for development.
PANDORA_API_SERVER="main"
