@import '../../styles/constants';
@import '../../styles/utils';

.chatroom {
	display: flex;
	flex-flow: row;
	gap: 1em;
	height: 100%;
	min-width: 0 !important;

	.tab-container {
		min-width: max(30em, 30vw);
		flex: 1;
	}

	.controls {
		margin: 1em;
		flex: 1;
	}
}

.chatroom-scene {
	height: 100%;
	flex: 4;
	overflow: hidden;
	position: relative;

	&.disabled {
		display: none;
	}

	canvas {
		height: 100%;
		width: 100%;
	}
}

.character-info {
	.safemode {
		background: $theme-warning;
		border: solid black 1px;
		padding: 0.25em;
	}

	&>a {
		padding: 0;
	}

	&>* {
		margin-right: 1em;
	}

	&>*:last-child {
		margin-right: 0;
	}
}

.chatArea {
	background-color: #333;
	display: flex;
	flex-flow: column;
	flex: 1;
	overflow: hidden;

	&>div.messages {
		display: flex;
		flex-flow: column;
		flex: 1;
		overflow-x: hidden;
		overflow-y: scroll;
		user-select: text;
	}

	.message {
		color: white;
		padding: 0.1em;
		white-space: pre-wrap;
		overflow-wrap: break-word;

		&.serverMessage {
			border-left: solid 5px white;
			background-color: #222;
			margin: 0.4em;
			padding: 0.2em;

			&.foldable:hover {
				background-color: #1a1a1a;
				cursor: pointer;
			}
		}

		&.emote .name {
			display: none;
		}

		&.private {
			opacity: 0.7;
		}

		&> .info {
			float: right;
			color: gray;
			font-style: italic;
			font-size: 0.6em;
			margin-right: 0.2em;
		}
	}

	textarea {
		height: min(10em, 35%);
		resize: none;
		margin: 0;
	}
}

.typing-indicator, .input-modifiers, .unread-messages-indicator {
	@include flex(row, wrap);
	align-items: center;

	background-color: #2A2A2A;
	color: white;
	padding-left: 0.5em;
	gap: 0.5em;
}

.typing-indicator, .unread-messages-indicator {
	min-height: 1.5em;
	overflow: hidden;
	white-space: nowrap;
}

.autocomplete-hint {
	position: relative;

	>div {
		position: absolute;
		left: 0;
		bottom: 0;
		right: 1em;
		margin: 0.2em;

		@include flex(column);
		background-color: #338;
		color: white;
		padding: 0.5em;
		gap: 0.1em;

		hr {
			width: 100%;
		}

		span {
			cursor: pointer;

			&:hover, &.selected {
				background-color: #7e7eff54;
			}
		}
	}
}
