@use '../../styles/common';

.HoverElement {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 90000;
	isolation: isolate;
	pointer-events: none;

	width: max-content;
	max-width: 95vw;
	height: max-content;
	max-height: 95vh;

	background: common.$theme-hoverdialog-background;
	color: common.$theme-hoverdialog-text;
	border: 2px solid common.$theme-hoverdialog-border;
	padding: 1em;
	border-radius: 1em;
	line-height: 1.5em;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border-color: common.$forcedColors-separator;
	}

	&.center {
		text-align: center;
	}
}
