@use '../../../styles/common';

.chatArea {
	display: flex;
	flex-flow: column;
	flex: 1;
	background: common.$theme-chat-background;
	color: common.$theme-chat-text;
	overflow: hidden;
	contain: size;
	min-width: min(20em, 90vw);

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
	}

	> .messagesArea {
		position: relative;
		flex: 1;
		overflow: hidden;
		user-select: text;
		contain: size style;

		.messagesContainer {
			padding: 0 0 0.25em 0;
		}

		.message {
			padding: 0.1em 0.1em 0.1em 0.25em;
			white-space: pre-wrap;
			overflow-wrap: break-word;
			contain: layout style;

			@include common.forcedColors {
				background: Canvas !important;
				color: CanvasText !important;
			}

			&:not(:hover):not(.serverMessage):not(.action) {
				// Prevent Zalgo text from getting weird (but still show it if the message is hovered)
				overflow: hidden;
				overflow: clip;
				overflow-clip-margin: 0.05em;
			}

			&.action, &.serverMessage {
				.itemLink {
					color: common.$theme-chat-serverMessage-text;
					text-decoration: none;

					@include common.forcedColors {
						color: inherit;
					}

					&.hasCustomName, &.hasDescription {
						&::before {
							content: '[';
						}
						&::after {
							content: ']';
						}
					}

					&.hasDescription {
						color: common.$theme-chat-serverMessage-textlink;

						@include common.forcedColors {
							color: LinkText;
						}
					}

					&:hover {
						color: common.$theme-chat-serverMessage-textlink-hover;

						@include common.forcedColors {
							color: LinkText;
						}
					}
				}
			}

			&.actionLogEntry {
				padding: 0.2em;
				font-family: common.$theme-font-family-monospace;
				background: common.$theme-chat-actionLogEntry-background;
				color: common.$theme-chat-actionLogEntry-text;

				@include common.forcedColors {
					background: Canvas;
					color: CanvasText;
				}

				&:nth-child(even of .actionLogEntry) {
					background: common.$theme-chat-actionLogEntry-background-alt;

					@include common.forcedColors {
						background: Canvas;
					}
				}

				button {
					height: 1.5em;
					margin: 0 0.25em;
					padding: 0.1em;
				}
			}

			&.serverMessage {
				border-left: 5px solid common.$theme-chat-serverMessage-notch;
				background: common.$theme-chat-serverMessage-background;
				color: common.$theme-chat-serverMessage-text;
				margin: 0.4em;
				padding: 0.2em;

				@include common.forcedColors {
					background: Canvas;
					color: CanvasText;
					border: 1px solid common.$forcedColors-separator;
					border-left-width: 5px;
				}

				&.foldable {
					cursor: pointer;

					@include common.forcedColors {
						background: ButtonFace;
						color: ButtonText;
						border-color: ButtonBorder;
					}

					&:hover {
						background: common.$theme-chat-serverMessage-foldable-hover-background;

						@include common.forcedColors {
							background: ButtonFace;
							border-color: common.$forcedColors-accentColorFallback;
							border-color: AccentColor;
						}
					}
				}
			}

			&.emote .name {
				display: none;
			}

			&.dim {
				opacity: common.$theme-chat-dim-opacity;

				@include common.forcedColors {
					opacity: unset;
				}
			}

			&.private {
				opacity: common.$theme-chat-private-opacity;

				@include common.forcedColors {
					opacity: unset;
				}
			}

			> .info {
				float: right;
				color: common.$theme-chat-messageinfo-text;
				font-style: italic;
				font-size: 0.6em;
				margin-right: 0.2em;

				@include common.forcedColors {
					color: GrayText;
				}

				> span {
					// Reverse display direction
					float: right;
				}

				.roomInfo {
					.roomName {
						max-width: min(15vw, 10em);
						overflow: hidden;
						text-wrap: nowrap;
						text-overflow: ellipsis;
					}
				}
			}

			> .repetitionCount {
				padding: 0 0.25em;
				border-radius: 1em;

				font-family: common.$theme-font-family;
				font-feature-settings: common.$theme-font-features-tabular;

				background: common.$theme-chat-messagerepetitions-background;
				border: 1px solid common.$theme-separator;
				outline: 0px solid common.$theme-accent-color;

				@include common.forcedColors {
					background: Canvas;
					color: CanvasText;
					border-color: common.$forcedColors-separator;
					outline-color: common.$forcedColors-accentColorFallback;
					outline-color: AccentColor;
				}

				display: inline-block;

				&.highlightChange {
					animation: 0.8s chat-highlight-repetition-count ease-in-out;
				}
			}

			a {
				text-decoration: underline;
			}

			&.editing {
				background: common.$theme-chat-editedMessage-background;
				padding: 0.2em;
				margin: 0 0.2em;
				border-left: 2px solid common.$theme-chat-editedMessage-notch;

				@include common.forcedColors {
					background: SelectedItem !important;
					color: SelectedItemText !important;
					border-color: SelectedItem;
				}
			}
		}

		&.hideDimmed {
			.message.dim {
				display: none;
			}
		}
	}

	textarea {
		height: min(8.5em, 35%);
		resize: none;
		margin: 0;
		background: common.$theme-chat-input-normal-background;
		color: common.$theme-chat-input-text;
		border: none;
		outline: none;

		@include common.forcedColors {
			background: Field;
			color: FieldText;
		}

		&:focus {
			background: common.$theme-chat-input-focused-background;

			@include common.forcedColors {
				background: Field;
			}
		}

		&::placeholder {
			color: common.$theme-chat-input-placeholder-text;
			opacity: 1; /* Firefox */

			@include common.forcedColors {
				color: GrayText;
			}
		}
	}
}

@keyframes chat-highlight-repetition-count {
	0%, 100% {
		transform: none;
		outline-width: 0;
	}
	10%, 90% {
		transform: none;
		outline-width: 2px;
	}
	50% {
		transform: scale(120%);
		outline-width: 2px;
	}
}

.typing-indicator, .input-modifiers, .unread-messages-indicator {
	@include common.flex(row, wrap);
	align-items: center;

	background: common.$theme-chat-indicator-background;
	color: common.$theme-chat-indicator-text;
	padding-left: 0.5em;
	gap: 0.5em;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border: 1px solid common.$forcedColors-separator;
	}

	img {
		height: 1em;
	}
}

.typing-indicator, .unread-messages-indicator {
	min-height: 1.5em;
	overflow: hidden;
	white-space: nowrap;
	flex-wrap: nowrap;
}

.typing-indicator {
	padding-right: 0.5em;
}

.typing-indicator, .unread-messages-indicator {
	cursor: pointer;

	@include common.forcedColors {
		background: ButtonFace;
		color: ButtonText;
		border-color: ButtonBorder;
	}

	&:hover {
		background: common.$theme-chat-indicator-interactive-hover-background;

		@include common.forcedColors {
			background: ButtonFace;
			border-color: common.$forcedColors-accentColorFallback;
			border-color: AccentColor;
		}
	}
}

.autocomplete-hint {
	position: absolute;
	left: 0;
	bottom: 0;
	right: 0;
	max-height: calc(100% - 0.4em);
	overflow-y: scroll;
	margin: 0.2em;
	font-size: medium;

	@include common.flex(column);
	background: common.$theme-autocomplete-hint-background;
	color: common.$theme-autocomplete-hint-text;
	padding: 0.5em;
	gap: 0.1em;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border: 1px solid common.$forcedColors-separator;
	}

	hr {
		width: 100%;
	}

	span {
		cursor: pointer;
		text-indent: 2em hanging;

		@include common.forcedColors {
			background: ButtonFace;
			color: ButtonText;
			border: 1px solid transparent;
		}


		&:hover, &.selected {
			background: common.$theme-autocomplete-hint-entry-hover-background;

			@include common.forcedColors {
				background: ButtonFace;
				border-color: common.$forcedColors-accentColorFallback;
				border-color: AccentColor;
			}
		}
	}
}
