@use '../../../styles/common';

.roomScreen {
	overflow: hidden;
	min-width: 0 !important;

	>.room-scene {
		min-width: 0;
		min-height: 0;
		overflow: hidden;
		contain: strict;

		&.disabled {
			display: none;
		}

		canvas {
			position: absolute;
			z-index: auto;
		}
	}

	>.interactionArea {
		min-height: min(10vw, 100%);
		border-left: max(2px, 0.1em) solid common.$theme-room-separator;
		background: common.$theme-room-background;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-left-color: common.$forcedColors-separator;
		}
	}
}

.controls-container {
	background: common.$theme-room-controls-background;
	color: common.$theme-room-controls-text;
	border: 2px solid common.$theme-room-controls-border;
	contain: size;
	min-width: min(20em, 90vw);

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border-color: common.$forcedColors-separator;
	}
}

.space-warning {
	background: common.$theme-warningbox-background;
	color: common.$theme-warningbox-text;
	border: 1px solid common.$theme-separator;
	border-radius: 0.5em;
	padding: 0.2em 0.5em;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border: 2px solid common.$theme-warningbox-background;
	}
}

.character-info {
	margin-bottom: common.spacing('large');

	fieldset.room {
		display: flex;
		flex-direction: column;
		border: 1px solid common.$theme-room-controls-room-border;
		border-radius: 0.5em;
		margin-bottom: 0.5em;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-color: common.$forcedColors-separator;
		}

		>legend {
			display: flex;
			flex-flow: row wrap;
			border: 1px solid common.$theme-room-controls-room-border;
			border-radius: 0.5em;
			overflow: hidden;
			padding: 0;
			margin: 0 auto;

			background: common.$theme-room-controls-room-border;
			gap: 1px;

			@include common.forcedColors {
				background: common.$forcedColors-separator;
				border-color: common.$forcedColors-separator;
			}

			>span, >button {
				font-size: 1em;
				padding: 0.15em 0.4em;
				border: 2px solid transparent;
				flex-grow: 1;

				display: inline-flex;
				align-items: center;
				justify-content: center;

				background: common.$theme-room-controls-character-background;
				color: common.$theme-room-controls-character-text;

				@include common.forcedColors {
					background: Canvas;
					color: CanvasText;
				}
			}

			>button {
				outline-offset: -0.2em;

				@include common.forcedColors {
					background: ButtonFace;
					color: ButtonText;
					border: 1px solid ButtonBorder;
				}

				&:hover {
					background: common.$theme-room-controls-character-hover-background;

					@include common.forcedColors {
						background: ButtonFace;
						border-color: common.$forcedColors-accentColorFallback;
						border-color: AccentColor;
					}
				}

				&:focus-visible {
					outline: 0.2em solid common.$theme-room-controls-character-visiblefocus-outline;

					@include common.forcedColors {
						outline-color: common.$forcedColors-accentColorFallback;
						outline-color: AccentColor;
					}
				}
			}
		}
	}

	fieldset.character {
		display: flex;
		flex-direction: column;
		background: common.$theme-room-controls-charactercontent-background;
		border: 1px solid common.$theme-room-controls-character-border;
		border-radius: 0.5em;
		margin-bottom: 0.5em;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-color: common.$forcedColors-separator;
		}

		>legend {
			display: flex;
			flex-flow: row wrap;
			border: 1px solid common.$theme-room-controls-character-border;
			border-radius: 0.5em;
			overflow: hidden;
			padding: 0;

			background: common.$theme-room-controls-character-border;
			gap: 1px;

			@include common.forcedColors {
				background: common.$forcedColors-separator;
				border-color: common.$forcedColors-separator;
			}

			&.player {
				>span, >button {
					background: common.$theme-room-controls-player-background;
					color: common.$theme-room-controls-player-text;

					@include common.forcedColors {
						background: SelectedItem;
						color: SelectedItemText;
					}
				}

				>button:hover {
					background: common.$theme-room-controls-player-hover-background;

					@include common.forcedColors {
						background: SelectedItem;
						color: SelectedItemText;
						border-color: common.$forcedColors-accentColorFallback;
						border-color: AccentColor;
					}
				}
			}

			.colorStrip {
				text-shadow: common.$theme-room-controls-character-colorstrip-shadow 1px 1px 1px;
				forced-color-adjust: none;
			}

			>span, >button {
				font-size: 1em;
				padding: 0.15em 0.4em;
				border: 2px solid transparent;
				flex-grow: 1;

				display: inline-flex;
				align-items: center;
				justify-content: center;

				background: common.$theme-room-controls-character-background;
				color: common.$theme-room-controls-character-text;

				@include common.forcedColors {
					background: Canvas;
					color: CanvasText;
				}

				&.safemode {
					background: common.$theme-warningbox-background;
					color: common.$theme-warningbox-text;
					padding: 0 0.5em;

					@include common.forcedColors {
						background: Canvas;
						color: CanvasText;
						border-color: common.$theme-warningbox-background;
					}
				}

				&.status {
					padding: 0 0.25em;

					.indicator {
						width: 1.25em;
						height: 1.25em;
						margin-right: 0.25em;
						object-fit: contain;
					}

					&.status-offline {
						background: common.$theme-room-controls-offlinecharacter-background;

						@include common.forcedColors {
							background: Canvas;
							color: GreyText;
						}
					}
				}


				.character-icon {
					height: 1.25rem;
				}
			}

			>button {
				outline-offset: -0.2em;

				@include common.forcedColors {
					background: ButtonFace;
					color: ButtonText;
					border: 1px solid ButtonBorder;
				}

				&:hover {
					background: common.$theme-room-controls-character-hover-background;

					@include common.forcedColors {
						background: ButtonFace;
						border-color: common.$forcedColors-accentColorFallback;
						border-color: AccentColor;
					}
				}

				&:focus-visible {
					outline: 0.2em solid common.$theme-room-controls-character-visiblefocus-outline;

					@include common.forcedColors {
						outline-color: common.$forcedColors-accentColorFallback;
						outline-color: AccentColor;
					}
				}
			}
		}
	}
}

.room-construction-mode {
	.error {
		color: common.$themecolor-error;
		font-weight: bold;
		margin: auto 0;

		@include common.forcedColors {
			color: inherit;
			text-decoration: underline common.$themecolor-error;
		}
	}
}
