@use '../../../styles/common';

.RoomControlsRoomGrid {
	contain: size;
	flex: 1;
	min-width: 50%;
	max-width: 30em;
	margin: 0 auto;
	aspect-ratio: 3 / 2;
	display: grid;
	overflow: clip;
	padding: common.spacing('small');
	border-radius: common.spacing('small');
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3, 1fr);
	gap: common.spacing('tiny');
	place-items: center;
	background: common.$theme-normal-background-secondary;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border: 1px solid common.$forcedColors-separator;
	}

	.room {
		contain: size;
		width: 100%;
		height: 100%;

		> button {
			@include common.center-flex(column);
			position: relative;
			contain: size;
			width: 100%;
			height: 100%;
			overflow: clip;
		}

		canvas {
			max-width: 100%;
			max-height: 100%;
		}

		.label {
			position: absolute;
			margin: 0 auto;
			bottom: 0.25em;
			max-width: calc(100% - 0.5em);
			max-height: 80%;
			border-radius: 0.25em;
			padding: 1px 2px;
			overflow: clip;
			text-overflow: ellipsis;
			overflow-wrap: break-word;
			color: common.$theme-normal-text;
			background-color: rgba(common.$theme-normal-background-secondary, 0.6);

			@include common.forcedColors {
				background: Canvas;
				color: CanvasText;
			}

			display: -webkit-box;
			-webkit-box-orient: vertical;
			-webkit-line-clamp: 2;
			line-clamp: 2;
		}
	}
}
