$black: #000;
$black-primary: rgba($black, 0.87);
$black-secondary: rgba($black, 0.7);
$black-disabled: rgba($black, 0.45);
$black-decoration: rgba($black, 0.15);

$white: #fff;
$white-primary: rgba($white, 0.95);
$white-secondary: rgba($white, 0.8);
$white-disabled: rgba($white, 0.6);
$white-decoration: rgba($white, 0.25);

$grey-darkest: #151515;
$grey-darker: #2e2e2e;
$grey-dark: #555;
$grey-mid: #888;
$grey-light: #aaa;
$grey-lighter: #ccc;
$grey-lightest: #e4e4e4;

$theme-error: #b60000;
$theme-link: #032a64;
$theme-notification: #d00;
