$black: #000;
$black-primary: rgba($black, 0.87);
$black-secondary: rgba($black, 0.7);
$black-disabled: rgba($black, 0.45);
$black-decoration: rgba($black, 0.15);

$white: #fff;
$white-primary: rgba($white, 0.95);
$white-secondary: rgba($white, 0.8);
$white-disabled: rgba($white, 0.6);
$white-decoration: rgba($white, 0.25);

$grey-darkest: #151515;
$grey-darker: #2e2e2e;
$grey-dark: #555;
$grey-mid: #888;
$grey-light: #aaa;
$grey-lighter: #ccc;
$grey-lightest: #e4e4e4;

$red-dark: #5e0000;

$drop-shadow: rgb(5,5,5, 0.2);

$z-index-menu: 100;

$spacing: (
	none: 0,
	tiny: 3px,
	small: 0.25em,
	medium: 0.5em,
	large: 1em,
	"x-large": 2em,
	"xx-large": 3em,
	"xxx-large": 5em,
);

// Helper functions for getting values in SCSS
@use "sass:map";

@function spacing($size) {
	@return map.get($spacing, $size);
}
