@use 'common';

//#region Inputs

input, textarea, select, select option {
	font-family: inherit;
	font-feature-settings: inherit;
}

input, textarea {
	font-size: 1em;
	padding: 0.5em;
	border: 1px solid common.$theme-input-border;
	background: common.$theme-input-normal-background;
	color: common.$theme-input-text;

	@include common.forcedColors {
		border-color: ButtonBorder;
		background: Field;
		color: FieldText;
	}

	&:focus, &:active {
		outline: max(0.2em, 2px) solid common.$theme-input-focused-outline;
		background: common.$theme-input-focused-background;

		@include common.forcedColors {
			outline-color: common.$forcedColors-accentColorFallback;
			outline-color: AccentColor;
			background: Field;
		}
	}

	&:read-only {
		background: common.$theme-input-readonly-background;
		&:focus, &:active {
			outline: 0 none;
		}

		@include common.forcedColors {
			background: Field;
		}
	}

	&::placeholder {
		color: common.$theme-input-placeholder-text;
		opacity: 1; /* Firefox */

		@include common.forcedColors {
			color: GrayText;
		}
	}
}

input[type=color] {
	padding: 0;
}

select {
	max-width: 100%;
	font-size: 1em;
	padding: 0.5em;
	border: 1px solid common.$theme-input-border;
	background: common.$theme-input-normal-background;
	color: common.$theme-input-text;
	overflow: hidden;
	white-space: pre;
	text-overflow: ellipsis;

	@include common.forcedColors {
		border-color: ButtonBorder;
		background: Field;
		color: FieldText;
	}

	&:focus-visible {
		outline: max(0.2em, 2px) solid common.$theme-input-focused-outline;

		@include common.forcedColors {
			outline-color: common.$forcedColors-accentColorFallback;
			outline-color: AccentColor;
		}
	}

	&:disabled {
		background: common.$theme-input-readonly-background;
		&:focus, &:active {
			outline: 0 none;
		}

		@include common.forcedColors {
			background: Field;
			color: GrayText;
		}
	}
}

input[type=checkbox] {
	transform: scale(1.3);
	accent-color: common.$theme-checkbox-accent;
	border-radius: 0.5em;
	filter: common.$theme-checkbox-unchecked-filter;
	forced-color-adjust: auto;

	@include common.forcedColors {
		filter: none;
		background: Field;
	}

	&:checked {
		filter: none;
	}

	&:focus-visible {
		outline: max(0.2em, 2px) solid common.$theme-input-focused-outline;
	}

	&:disabled {
		accent-color: common.$theme-checkbox-disabled-accent;
		filter: common.$theme-checkbox-disabled-unchecked-filter;

		@include common.forcedColors {
			filter: none;
			border-color: GrayText;
		}

		&:checked {
			filter: none;
		}
	}
}

//#endregion

//#region Buttons

button {
	outline: 0;
	border: 0;
	font-size: 1em;
	transition:
		all 150ms linear,
		visibility 0ms,
		outline 0ms;

	&:hover {
		cursor: pointer;
	}
}

//#endregion

