@import 'common';

//#region Inputs

input, textarea {
	font-size: 1em;
	padding: 0.5em;
	border: 0.1em solid;
	background: $theme-input-normal-background;
	color: $theme-input-text;

	&:focus, &:active {
		outline: 0.15em solid $black-secondary;
		background: $theme-input-focused-background;
	}

	&:read-only {
		background: $theme-input-readonly-background;
		&:focus, &:active {
			outline: 0 none;
		}
	}

	&::placeholder {
		color: $theme-input-placeholder-text;
		opacity: 1; /* Firefox */
	}
}

input[type=color] {
	padding: 0;
}

select {
	font-size: 1em;
	padding: 0.5em;
}

input[type=checkbox] {
	transform: scale(1.3);
	background: $theme-checkbox-background;
	accent-color: $theme-checkbox-accent;

	&:disabled {
		background: $theme-checkbox-disabled-background;
		accent-color: $theme-checkbox-disabled-accent;
	}
}

//#endregion

//#region Buttons

button {
	outline: 0;
	border: 0;
	font-size: 1em;
	transition:
		all 150ms linear,
		visibility 0ms,
		outline 0ms;

	&:hover {
		cursor: pointer;
	}
}

//#endregion

