@import 'common';

//#region Inputs

input, textarea {
	font-size: 1em;
	padding: 0.5em;
	border: 1px solid $theme-input-border;
	background: $theme-input-normal-background;
	color: $theme-input-text;

	&:focus, &:active {
		outline: max(0.2em, 2px) solid $theme-input-focused-outline;
		background: $theme-input-focused-background;
	}

	&:read-only {
		background: $theme-input-readonly-background;
		&:focus, &:active {
			outline: 0 none;
		}
	}

	&::placeholder {
		color: $theme-input-placeholder-text;
		opacity: 1; /* Firefox */
	}
}

input[type=color] {
	padding: 0;
}

select {
	font-size: 1em;
	padding: 0.5em;
	border: 1px solid $theme-input-border;
	background: $theme-input-normal-background;
	color: $theme-input-text;

	&:focus-visible {
		outline: max(0.2em, 2px) solid $theme-input-focused-outline;
	}

	&:disabled {
		background: $theme-input-readonly-background;
		&:focus, &:active {
			outline: 0 none;
		}
	}
}

input[type=checkbox] {
	transform: scale(1.3);
	accent-color: $theme-checkbox-accent;
	border-radius: 0.5em;
	filter: $theme-checkbox-unchecked-filter;

	&:checked {
		filter: none;
	}

	&:focus-visible {
		outline: max(0.2em, 2px) solid $theme-input-focused-outline;
	}

	&:disabled {
		accent-color: $theme-checkbox-disabled-accent;
		filter: $theme-checkbox-disabled-unchecked-filter;

		&:checked {
			filter: none;
		}
	}
}

//#endregion

//#region Buttons

button {
	outline: 0;
	border: 0;
	font-size: 1em;
	transition:
		all 150ms linear,
		visibility 0ms,
		outline 0ms;

	&:hover {
		cursor: pointer;
	}
}

//#endregion

