@import 'common';

html, body {
	font-family: $theme-font-family;
}

a {
	display: inline-block;
	color: $theme-normal-link;
	cursor: pointer;
	line-height: 1.3;
	transition: all 150ms linear;
	text-decoration: none;

	&:visited:not(:hover):not(:focus):not(:active) {
		color: $theme-normal-link-visited;
	}

	&:hover, &:focus, &:active {
		color: $theme-normal-link-active;
	}

	&:focus-visible {
		outline: $theme-link-visiblefocus-outline solid 0.15em;
	}
}

p {
	line-height: 1.4;
	margin: 0 0 1em;
}

ul {
	margin: 0;
}

li {
	line-height: 1.3;
}

h2, h3, h4 {
	padding-bottom: 0.3em;
	margin: 0;
}
