@use 'common';

:root {
	interpolate-size: allow-keywords;
	forced-color-adjust: preserve-parent-color;
	color-scheme: dark;
}

html, body {
	font-family: common.$theme-font-family;
	font-feature-settings: common.$theme-font-features;
}

@supports (font-variation-settings: normal) {
	html, body {
		font-family: common.$theme-font-family-variable;
	}
}

button {
	font-family: inherit;
	font-feature-settings: inherit;
}

// Emulate forced colors enforcement if toggled manually
html.forcedColors {
	color-scheme: dark light;

	* {
		box-shadow: none !important;
		text-shadow: none !important;
		scrollbar-color: auto !important;
	}
}

a {
	display: inline-block;
	color: common.$theme-link;
	cursor: pointer;
	line-height: 1.3;
	transition: all 150ms linear;
	text-decoration: none;

	@include common.forcedColors {
		color: LinkText;
	}

	&:visited:not(:hover):not(:focus):not(:active) {
		color: common.$theme-link-visited;

		@include common.forcedColors {
			color: VisitedText;
		}
	}

	&:hover, &:focus, &:active {
		color: common.$theme-link-active;

		@include common.forcedColors {
			color: ActiveText;
		}
	}

	&:focus-visible {
		outline: common.$theme-link-visiblefocus-outline solid 0.15em;

		@include common.forcedColors {
			outline-color: AccentColor;
		}
	}

	&.inline {
		display: inline;
	}

	img.icon {
		width: 1.5em;
		height: 1.5em;
	}
}

p {
	line-height: 1.4;
	margin: 0 0 1em;
}

code {
	background: common.$theme-code-background;
	font-family: common.$theme-font-family-monospace;
	padding: common.spacing(small);
	border: 1px solid common.$theme-code-border;
	border-radius: common.spacing(small);
	user-select: text;

	@include common.forcedColors {
		background: Field;
		color: FieldText;
		border-color: GrayText;
	}
}

ul {
	margin: 0;
}

li {
	line-height: 1.3;
}

h2, h3, h4 {
	padding-bottom: 0.3em;
	margin: 0;
}

table {
	border: 1px solid common.$theme-table-border-outer;

	@include common.forcedColors {
		border-color: common.$forcedColors-separator;
	}

	tr {
		min-height: 2em;
	}

	td,
	th {
		padding: 0.2em 0.5em;
		text-align: center;
		border: 1px solid common.$theme-table-border;

		@include common.forcedColors {
			border-color: common.$forcedColors-separator;
		}

		&.noPadding {
			padding: 0;
		}
	}

	th {
		background: common.$theme-table-header-background;
		color: common.$theme-table-header-text;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
		}
	}

	tr {
		background: common.$theme-table-body-background;
		color: common.$theme-table-body-text;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
		}

		&:nth-child(2n) {
			background: common.$theme-table-body-altbackground;

			@include common.forcedColors {
				background: Canvas;
			}
		}
	}

	&.smallPadding {
		td:not(.noPadding), th:not(.noPadding) {
			padding: 0.1em 0.25em;
		}
	}
}

fieldset {
	border-color: common.$theme-fieldset-border;

	@include common.forcedColors {
		border-color: common.$forcedColors-separator;
	}
}

input:disabled + label, select:disabled + label, label:has(+ input:disabled), label:has(+ select:disabled) {
	color: common.$theme-normal-text-dim;

	@include common.forcedColors {
		color: GrayText;
	}
}

meter {
	background: common.$theme-meter-background; // Firefox
	display: block;
	border: solid 1px common.$theme-separator;
	border-radius: 2em;
	height: calc(0.75em + 2px);
	forced-color-adjust: auto;

	@include common.forcedColors {
		background: Canvas;
		border-color: common.$forcedColors-separator;
	}

	&::-webkit-meter-bar {
		height: 0.75em;
		border-radius: 2em;
		background: common.$theme-meter-background; // Chromium
	}

	/* The green (optimum) bar */
	&:-moz-meter-optimum::-moz-meter-bar, &::-webkit-meter-optimum-value {
		background: common.$theme-meter-bar-optimum;
	}

	/* The yellow (sub-optimum) bar */
	&:-moz-meter-sub-optimum::-moz-meter-bar, &::-webkit-meter-suboptimum-value {
		background: common.$theme-meter-bar-sub-optimum;
	}

	/* The red (angry) bar */
	&:-moz-meter-sub-sub-optimum::-moz-meter-bar, &::-webkit-meter-even-less-good-value {
		background: common.$theme-meter-sub-sub-optimum;
	}

	&.monoColor {
		/* The green (optimum) bar */
		&:-moz-meter-optimum::-moz-meter-bar, &::-webkit-meter-optimum-value,
			&:-moz-meter-sub-optimum::-moz-meter-bar, &::-webkit-meter-suboptimum-value,
			&:-moz-meter-sub-sub-optimum::-moz-meter-bar, &::-webkit-meter-even-less-good-value {
			background: common.$theme-meter-bar-mono;
		}
	}
}
