@import 'constants';

//#region Flexbox

@mixin flex($direction: row, $wrap: nowrap) {
	display: flex;
	flex-flow: $direction $wrap;
}

.flex-row, .flex-row-nowrap {
	@include flex;
}

.flex-row-wrap {
	@include flex($wrap: wrap);
}

.flex-col, .flex-col-nowrap {
	@include flex($direction: column);
}

.flex-col-wrap {
	@include flex(column, wrap);
}

@for $weight from 1 through 12 {
	.flex-#{$weight} {
		flex: $weight;
	}
}

.flex {
	flex: 1;
}

//#endregion

//#region Centering

@mixin center-common {
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

@mixin center-absolute {
	position: absolute;
	@include center-common;
}

@mixin center-fixed {
	position: fixed;
	@include center-common;
}

@mixin center-flex($direction: row, $wrap: wrap) {
	@include flex($direction, $wrap);
	justify-content: center;
	align-items: center;
}

.center-absolute {
	@include center-absolute;
}

.center-fixed {
	@include center-fixed;
}

.center-flex {
	@include center-flex;
	// Give this a default gap so things look better without custom style
	gap: spacing('normal');
}

.hidden {
	display: none !important;
}

//#endregion

//#region Spacing

@each $spacing-name, $spacing-value in $spacing {
	.spacing-#{$spacing-name} {
		padding: $spacing-value;
		gap: $spacing-value;
	}

	.padding-#{$spacing-name} {
		padding: $spacing-value;
	}

	.gap-#{$spacing-name} {
		padding: $spacing-value;
	}
}

//#endregion

//#region Misc

@mixin corner-border($thickness: 1px, $color: black, $width: 20px, $background: inherit) {
	border: $thickness solid transparent;
	background:
		conic-gradient(from 90deg  at top    $thickness left  $thickness, #0000 90deg, $color 0) 0    0,
		conic-gradient(from 180deg at top    $thickness right $thickness, #0000 90deg, $color 0) 100% 0,
		conic-gradient(from 0deg   at bottom $thickness left  $thickness, #0000 90deg, $color 0) 0    100%,
		conic-gradient(from -90deg at bottom $thickness right $thickness, #0000 90deg, $color 0) 100% 100%,
		$background;
	background-size: $width $width;
	background-origin: border-box;
	background-repeat: no-repeat;
}

//#endregion
