@import '../../styles/common';

$context-menu-themes: (
	opaque: (
		background: $theme-contextmenu-opaque-background,
		border: $theme-contextmenu-opaque-border,
	),
);

.context-menu {
	position: fixed;
	top: 0;
	left: 0;
	background: $theme-contextmenu-default-background;
	color: $theme-contextmenu-default-text;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: stretch;
	border: 0.2em solid $theme-contextmenu-default-border;
	border-radius: 0.2em;
	padding: 0.3em;
	gap: 0.3em;
	user-select: none;
	isolation: isolate;
	max-height: 100vh;

	hr {
		width: 90%;
		margin: 0;
		align-self: center;
	}

	span, button {
		@include center-flex;
		margin: 0;
		padding: 0.2em 0.5em;
	}

	button {
		color: $theme-contextmenu-button-text;
		background: transparent;
		padding: 0.5em 0.8em;

		&:hover {
			background: $theme-contextmenu-button-hover-background;
		}

		&.withIcon {
			padding: 0.5em;
			gap: 0.5em;

			>img {
				width: 1.8em;
				height: 1.8em;
				object-fit: contain;

				&.invert {
					filter: invert(100%);
				}
			}

			>span {
				flex: 1;
				padding: 0;
				justify-content: start;
			}
		}
	}

	@each $theme-name, $theme-data in $context-menu-themes {
		&.#{$theme-name} {
			background: map-get($theme-data, "background");
			border-color: map-get($theme-data, "border");
		}
	}
}
