@use '../../../styles/common';

.spaceJoin {
	max-width: calc(100% - 1em);
	max-height: calc(100% - 1em);

	padding: 1em;
	border: 1px solid common.$theme-dialog-border;
	border-radius: 1em;
	background: common.$theme-dialog-background;
	color: common.$theme-dialog-text;

	overflow: hidden;
}
