.spaceJoin {
	margin: auto;
	justify-self: center;
}

.spaceInvite {
	display: flex;
	flex-flow: row;
	background-color: #222;
	font-weight: bold;
	padding: 1em;

	&.active:hover {
		cursor: pointer;
		background-color: #181818;
	}
}
