@use '../../styles/common';

.eula {
	@include common.center-flex;
	padding: 0.5em;

	.eula-header {
		width: min(30em, 90vw);
		height: min(9em, 60vh);
		overflow: hidden;
		padding-bottom: 1em;

		img {
			object-fit: contain;
			width: 100%;
			height: 100%;
		}
	}
}

.policyDetails {
	padding: 0.5em;

	overflow: auto;
	overflow-x: hidden;

	background: common.$theme-textbox-background;
	color: common.$theme-textbox-text;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border: 1px solid common.$forcedColors-separator;
	}

	user-select: text;

	h2, h3, h4 {
		margin-top: 1em;
	}
}
