@import '../../styles/common';

.policyDetails {
	max-width: 85vw;
	max-height: 80vh;
	padding: 0.5em;

	overflow: scroll;
	overflow-x: hidden;

	background-color: $grey-lighter;

	user-select: text;
}
