@use '../../../styles/common';

.editor-setupui .layer-size-setup {
	display: grid;
	grid-template:
		"title title title title" 1.75em
		"xLabel xInput yLabel yInput" 1.75em
		/ 20% minmax(0, 1fr) 20% minmax(0, 1fr);
	gap: 0.5em 0.25em;
	margin: 0.25em 0;
	align-items: center;

	&.noTitle {
		grid-template:
			"xLabel xInput yLabel yInput" 1.75em
			/ 20% minmax(0, 1fr) 20% minmax(0, 1fr);
	}

	.area-title {
		grid-area: title;
	}
	.area-xLabel {
		grid-area: xLabel;
		justify-self: end;
	}
	.area-xInput {
		grid-area: xInput;
	}
	.area-yLabel {
		grid-area: yLabel;
		justify-self: end;
	}
	.area-yInput {
		grid-area: yInput;
	}
}

.editor-setupui .SettingConditionOverrideTemplate {
	.override-entry {
		background: common.$theme-normal-background-secondary;
		border: 1px solid common.$theme-separator;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-color: common.$forcedColors-separator;
		}
	}

	.ConditionInput > textarea {
		resize: vertical;
	}
}
