.editor .editor-ui .editor-layerui {
	display: flex;
	flex-flow: column;
	gap: 0.3em;

	select {
		padding: 0.2em;
	}

	& > div {
		display: flex;
		flex-flow: row wrap;
		gap: 0.3em;

		align-items: center;
	}

	textarea {
		height: unset;
		resize: vertical;
	}

	.error {
		color: darkred;
	}

	.alpha-mask-grid {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-gap: 0.1em;

		hr {
			grid-column: 1 / -1;
		}

		span {
			display: flex;
			align-items: center;
			justify-content: left;
		}
	}
}
