@use '../styles/common';

.editor {
	display: flex;
	flex-flow: row;
	gap: 2px;
	background: common.$theme-editor-background;
	height: 100%;
	align-items: stretch;
	overflow: hidden;

	>div {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background: common.$theme-editor-pane-background;
		color: common.$theme-editor-pane-text;

		&.editor-ui {
			flex: 1;
			min-width: 20em;
			overflow-y: auto;
			textarea {
				resize: none;
				width: 100%;
				height: 80%;
			}
		}

		&.editor-scene {
			flex: 2;

			.canvasContainer {
				position: relative;
				flex: 1;
				overflow: hidden;

				.overlay {
					position: absolute;
					inset: 0;
					display: flex;
					padding: 0.5em;
					gap: 0.5em;
					align-items: flex-start;
					pointer-events: none;

					>* {
						pointer-events: auto;
					}

					.iconButton {
						min-width: 2em;
						min-height: 2em;
					}

					.color-input-button {
						width: 2em;
						height: 2em;
						border-radius: 0.2em;
					}
				}
			}
		}
	}

	.ui-selector {
		@include common.flex($wrap: wrap);
		justify-content: center;
		gap: 0.5rem;
		padding: 0.5em;
		border-bottom: 3px solid common.$theme-separator;
		background: common.$theme-header-background;
		color: common.$theme-header-text;
	}
}

.editor .editor-ui .editor-setupui {
	display: flex;
	flex-flow: column;
	gap: 0.3em;
	padding: 0.5em;
	overflow-x: hidden;
	overflow-y: auto;

	textarea {
		height: unset;
		flex-shrink: 0;
		resize: vertical;
		text-indent: 0.75em hanging each-line;
	}

	.error {
		color: common.$theme-editor-error-text;
	}

	.points-helper-input-table {
		width: 100%;

		input {
			width: 5em;
			flex: 1;
		}
	}

	table.with-border {
		border: 1px solid common.$theme-separator;
		border-collapse: collapse;

		th,
		td {
			padding: 0.2em;
			white-space: nowrap;
			border: 1px solid common.$theme-separator;
		}
	}

	hr {
		width: 100%;
	}

	.smallIconButton {
		width: 2em;
		height: 2em;
	}
}

.editor-highlightedArea {
	background: common.$theme-normal-background-secondary;
	border: 1px solid common.$theme-separator;

	&.attributeList {
		max-height: 80vh;
	}
}

.editor-wardrobe {
	display: flex;
	flex-flow: column;
	padding: 0.5em;
	overflow: auto;

	.inventoryView {
		overflow: unset;
	}
}
