@use '../styles/common';

.editor {
	display: flex;
	flex-flow: row;
	gap: 2px;
	background: common.$theme-editor-background;
	height: 100%;
	align-items: stretch;
	overflow: hidden;

	@include common.forcedColors {
		background: common.$forcedColors-separator;
	}

	>div {
		display: flex;
		flex-direction: column;
		overflow: hidden;
		background: common.$theme-editor-pane-background;
		color: common.$theme-editor-pane-text;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
		}

		&.editor-ui {
			flex: 1;
			min-width: 20em;
			overflow-y: auto;
			textarea {
				resize: none;
				width: 100%;
				height: 80%;
			}
		}

		&.editor-scene {
			flex: 2;

			.canvasContainer {
				position: relative;
				flex: 1;
				overflow: hidden;

				.overlay {
					position: absolute;
					inset: 0;
					display: flex;
					padding: 0.5em;
					gap: 0.5em;
					align-items: flex-start;
					pointer-events: none;

					>* {
						pointer-events: auto;
					}

					.iconButton {
						min-width: 2em;
						min-height: 2em;
					}

					.color-input-button {
						width: 2em;
						height: 2em;
						border-radius: 0.2em;
					}
				}

				.CoordinatesDisplay {
					position: absolute;
					bottom: 0;
					left: 0;
					border-radius: 0 common.spacing('small') 0 0;
					max-width: calc(100% - 0.5em);
					padding: common.spacing('tiny');
					font-size: smaller;
					background-color: rgba(common.$theme-normal-background-secondary, 0.6);
					pointer-events: none;

					@include common.forcedColors {
						background: Canvas;
						color: CanvasText;
						border-right: 1px solid common.$forcedColors-separator;
						border-bottom: 1px solid common.$forcedColors-separator;
					}
				}
			}
		}
	}

	.ui-selector {
		@include common.flex($wrap: wrap);
		justify-content: center;
		gap: 0.5rem;
		padding: 0.5em;
		border-bottom: 3px solid common.$theme-separator;
		background: common.$theme-header-background;
		color: common.$theme-header-text;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-bottom-color: common.$forcedColors-separator;
		}
	}
}

.editor .editor-ui .editor-setupui {
	display: flex;
	flex-flow: column;
	gap: 0.3em;
	padding: 0.5em;
	overflow-x: hidden;
	overflow-y: auto;

	textarea {
		height: unset;
		flex-shrink: 0;
		resize: vertical;
		text-indent: 0.75em hanging each-line;
	}

	.error {
		color: common.$theme-editor-error-text;

		@include common.forcedColors {
			color: inherit;
			text-decoration: underline common.$theme-editor-error-text;
		}
	}

	.points-helper-input-table {
		width: 100%;

		input {
			width: 5em;
			flex: 1;
		}
	}

	table.with-border {
		border: 1px solid common.$theme-separator;
		border-collapse: collapse;

		@include common.forcedColors {
			border-color: common.$forcedColors-separator;
		}

		th,
		td {
			padding: 0.2em;
			white-space: nowrap;
			border: 1px solid common.$theme-separator;

			@include common.forcedColors {
				border-color: common.$forcedColors-separator;
			}
		}
	}

	hr {
		width: 100%;
	}

	.smallIconButton {
		width: 2em;
		height: 2em;
	}
}

.editor-highlightedArea {
	background: common.$theme-normal-background-secondary;
	border: 1px solid common.$theme-separator;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border-color: common.$forcedColors-separator;
	}

	&.attributeList {
		max-height: 80vh;
		min-width: min(50vw, 20em);
	}
}

.editor-wardrobe {
	display: flex;
	flex-flow: column;
	padding: 0.5em;
	overflow: auto;

	.inventoryView {
		overflow: unset;
	}
}
