<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, interactive-widget=resizes-content">
	<title>Pandora Asset Editor</title>
</head>
<body>
<div id="editor-root"></div>
</body>
</html>
