@import '../../styles/common';

.profileScreen {
	display: flex;
	padding: 0.5em !important;
	overflow-y: hidden;
}

.profileView {
	border: 2px solid black;

	.profileHeader {
		font-size: 1.8em;

		hr {
			height: 2px;
			width: 100%;
			background-color: black;
		}
	}

	.profileContent {
		min-height: 100%;
	}

	.labelColorMark {
		display: inline-block;
		width: 1em;
		height: 1em;
		border: solid black 2px;
		border-radius: 50%;
	}

	.characterPreview {
		height: 100%;
		width: max(min(20em, 90vw), 33vw);
		flex-shrink: 0;
		overflow: hidden;

		&.disabled {
			display: none;
		}

		canvas {
			height: 100%;
			width: 100%;
		}
	}

	.profileDescriptionContent {
		background-color: #303030;
		color: $white;
		padding: 0.5em;
		border: 1px solid black;
		font-family: Arial, Helvetica, sans-serif;
		white-space: pre-wrap;
		word-wrap: break-word;
		word-break: break-word;

		a {
			color: $theme-link-light;
			text-decoration: underline;

			&:hover {
				color: $grey-light;
			}
		}
	}

	.profileEdit {
		background-color: $grey-lightest;
		color: $black;
		border: 2px dashed $red-dark;
	}
}
