.profileScreen {
	display: flex;
	padding: 0.5em !important;
	overflow-y: hidden;

}

.profileView {
	border: 2px solid black;
}

.profileHeader {
	font-size: 1.8em;

	hr {
		border: none;
		height: 8px;
	}
}
