@import '../../styles/common';

.profileScreen {
	display: flex;
	padding: 0.5em !important;
	overflow-y: hidden;

}

.profileView {
	border: 2px solid black;

	.profileHeader {
		font-size: 1.8em;

		hr {
			height: 2px;
			width: 100%;
			background-color: black;
		}
	}

	.profileContent {
		min-height: 100%;
	}

	.labelColorMark {
		display: inline-block;
		width: 1em;
		height: 1em;
		border: solid black 2px;
		border-radius: 50%;
		margin-top: 0.2em;
	}

	.characterPreview {
		height: 100%;
		width: max(min(20em, 90vw), 33vw);
		flex-shrink: 0;
		overflow: hidden;

		&.disabled {
			display: none;
		}

		canvas {
			height: 100%;
			width: 100%;
		}
	}

	.profileDescriptionContent {
		background-color: $grey-lightest;
		padding: 0.5em;
		border: 1px solid black;
	}
}
