@use '../../styles/common';

.accountContacts {
	height: 100%;
	width: 100%;
	min-width: fit-content;

	.tab-container {
		height: 100%;

		>div {
			border-top: max(2px, 0.1em) solid common.$theme-separator;

			@include common.forcedColors {
				border-top-color: common.$forcedColors-separator;
			}

			> .scrollable-vertical {
				padding: 0.1em 0.2em;
			}
		}
	}

	.friend {
		.status {
			> div {
				min-width: max-content;
			}

			.indicator {
				width: 1.5em;
				height: 1.5em;
				object-fit: contain;
			}
		}

		&.offline {
			.status {
				color: common.$theme-normal-text-dim;

				@include common.forcedColors {
					color: GrayText;
				}
			}
		}
	}

	th.sortable {
		cursor: pointer;
		user-select: none;
		white-space: nowrap;

		&.active {
			background: common.$theme-tablist-tab-hover-background;
			color: common.$theme-tablist-tab-hover-text;

			@include common.forcedColors {
				background: SelectedItem;
				color: SelectedItemText;
			}
		}

		&:focus-visible {
			border-color: common.$theme-tablist-tab-selected-visiblefocus-outline;
			z-index: 1;

			@include common.forcedColors {
				border-color: common.$forcedColors-accentColorFallback;
				border-color: AccentColor;
			}
		}

		&:hover:not(.active) {
			background: common.$theme-tablist-tab-hover-background;
			color: common.$theme-tablist-tab-hover-text;

			@include common.forcedColors {
				background: ButtonFace;
				color: ButtonText;
				border-color: common.$forcedColors-accentColorFallback;
				border-color: AccentColor;
			}
		}
	}
}
