@use '../../styles/common';

.accountContacts {
	height: 100%;
	width: 100%;
	min-width: fit-content;

	.tab-container {
		height: 100%;

		>div {
			border-top: max(2px, 0.1em) solid common.$theme-separator;

			> .scrollable-vertical {
				padding: 0.1em 0.2em;
			}
		}
	}

	.friend {
		.status {
			> div {
				min-width: max-content;
			}

			.indicator {
				width: 1.5em;
				height: 1.5em;
				object-fit: contain;
			}
		}

		&.offline {
			.status {
				color: common.$theme-normal-text-dim;
			}
		}
	}
}
