<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, interactive-widget=resizes-content">
	<title>Pandora</title>
	<link rel="preload" href="<%= require('inter-ui/variable/InterVariable.woff2') %>" as="font" type="font/woff2" crossorigin fetchpriority="high" />
	<link rel="preload" href="<%= require('./assets/icons/pandora.svg') %>" as="image" type="image/svg+xml" fetchpriority="high" />
</head>
<body>
<div id="pandora-root"></div>
</body>
</html>
