<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Pandora</title>
</head>
<body>
<div id="pandora-root"></div>
</body>
</html>
