@import 'styles/typography';
@import 'styles/forms';
@import 'styles/common';

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	background: $theme-normal-background;
	color: $theme-normal-text;
}

body {
	--pandora-accent-color: #3daee9;
	accent-color: var(--pandora-accent-color);

	scrollbar-color: $theme-scrollbar-thumb $theme-scrollbar-track;
}

#pandora-root, #editor-root {
	@include flex(column);
	margin: 0;
	height: 100%;
	background: $theme-normal-background;
	color: $theme-normal-text;
	user-select: none;
}

div.main-container {
	position: relative;
	background: $theme-normal-background;
	color: $theme-normal-text;
	flex: 1;
	overflow: hidden;

	> .Toastify {
		position: relative;
	}
}

// Do NOT put this into .main-container; it needs to have a low specificity to be overridable by subscreens
.main {
	@include flex(column);
	width: 100%;
	height: 100%;
	overflow: auto;

	& > * {
		flex: 1;
	}

	& > footer {
		flex: none;
		align-self: stretch;
		height: 1.5em;
		padding: 0.2em;
		font-style: italic;
		background: $theme-footer-background;
		color: $theme-footer-text;
		user-select: text;
	}
}
