@use 'styles/typography';
@use 'styles/forms';
@use 'styles/common';

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	background: common.$theme-normal-background;
	color: common.$theme-normal-text;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
	}
}

body {
	--pandora-accent-color: #3daee9;
	accent-color: var(--pandora-accent-color);

	scrollbar-color: common.$theme-scrollbar-thumb common.$theme-scrollbar-track;

	@include common.forcedColors {
		scrollbar-color: unset;
	}
}

#pandora-root, #editor-root {
	@include common.flex(column);
	margin: 0;
	height: 100%;
	background: common.$theme-normal-background;
	color: common.$theme-normal-text;
	user-select: none;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
	}

	> .Loading {
		display: flex;
		width: 100%;
		height: 100%;
		align-items: safe center;
		justify-content: safe center;
	}
}

div.main-container {
	position: relative;
	background: common.$theme-normal-background;
	color: common.$theme-normal-text;
	flex: 1;
	width: 100%;
	overflow: hidden;
	overflow: clip;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
	}

	> .Toastify {
		position: relative;
		--toastify-font-family: $theme-font-family-variable;
		--toastify-z-index: 99000;
	}
}

// Do NOT put this into .main-container; it needs to have a low specificity to be overridable by subscreens
.main {
	@include common.flex(column);
	width: 100%;
	height: 100%;
	contain: strict;
	overflow: auto;

	& > * {
		flex: 1;
	}

	& > footer {
		flex: none;
		align-self: stretch;
		height: 1.5em;
		padding: 0.2em;
		background: common.$theme-footer-background;
		color: common.$theme-footer-text;
		user-select: text;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
		}
	}
}
