@use '../styles/common';

:target, .target-highlight {
	animation: target-highlight 2s ease-in;

	@include common.forcedColors {
		animation: none;
		background: Mark;
		color: MarkText;
	}
}

@keyframes target-highlight {
	from {
		background: common.$theme-highlight-background;
	}
	to {
		background: transparent;
	}
}
