.editor-assetui {
	display: flex;
	flex-flow: column;

	.layerList, .assetImageList {
		display: flex;
		flex-flow: column;

		ul {
			padding: 0 0.5em;

			li {
				margin-top: 0.5em;
				display: flex;
				gap: 0.3em;

				.layerName, .imageName {
					flex: 1;
					display: flex;
					align-items: center;
					background: #bbb;
					min-width: 0;
					padding: 0.4em;
				}

				.layerName {
					cursor: pointer;

					&:hover {
						background: #aaa;
					}
				}

				&.selected {
					.layerName, .layerName:hover {
						background: #999;
					}
				}

				.imageName {
					user-select: all;
					word-break: break-all;
					overflow-wrap: anywhere;
				}
			}
		}
	}

	.hiddenUpload {
		display: flex;
		flex-direction: column;
		text-align: center;

		input {
			display: none;
		}
	}
}
