@use '../../styles/common';

.wiki {
	flex: 1;
	overflow: hidden;
	min-width: fit-content;

	.tab-content {
		min-width: min(30em, 90vw);
	}

	.wiki-content {
		background: common.$theme-textbox-background;
		color: common.$theme-textbox-text;
		user-select: text;
		padding: 0.5em;
		border: 1px solid common.$theme-separator;
		flex: 1;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border: 1px solid common.$forcedColors-separator;
		}

		h3, h4 {
			margin: 1.5em 0 0 0;
		}
	}
}

.maid-container {
	overflow: hidden;
	max-height: 100%;
	width: 15vw;

	img {
		max-width: 100%;
		max-height: 100%;
		object-fit: contain;
	}
}
