@import '../../styles/common';

.settings {
	display: flex;
	padding: 0.5em 0 0 0 !important;
	overflow-y: hidden;

	.settings-tab {
		display: flex;
		flex-flow: column;

		flex: 1;

		border-top: 2px solid black;
		overflow-y: auto;

		.settings-tab-contents {
			display: flex;
			flex-flow: column;
			justify-content: center;
			align-items: center;

			min-height: fit-content;
			flex-grow: 1;

			gap: 1em;
			padding: 1em;

			& fieldset {
				display: flex;
				flex-direction: column;
				width: 30em;
				background-color: white;
				border: 1px solid black;
				border-radius: 0.5em;

				>legend {
					font-size: 1.2em;
					font-weight: bold;
					margin-bottom: 0.5em;
					background-color: white;
					border: 1px solid black;
					border-radius: 0.5em;
					padding: 0.2em;
				}
			}

			th, td {
				text-align: center;
			}

			.input-row, .input-section {
				display: flex;
				gap: spacing('normal');
				justify-content: space-between;
				margin-top: 1em;

				&.input-row {
					flex-direction: row;
					align-items: center;
				}

				&.input-section {
					flex-direction: column;
				}
			}
		}
	}
}
