@use '../../../styles/common';

.selectionIndicator {
	position: relative;
	margin: 2px;
	border-radius: common.spacing('small');
	outline: 2px solid transparent;
	transition: outline-color 150ms linear;
	forced-color-adjust: none;

	&.selected {
		outline-color: common.$theme-button-selected-outline;

		@include common.forcedColors {
			outline-color: SelectedItem;
		}
	}

	&::before {
		content: " ";
		position: absolute;
		inset: 0px;
		outline: 2px dashed transparent;
		border-radius: common.spacing('small');
		transition: outline-color 150ms linear;
		pointer-events: none;
		forced-color-adjust: none;
	}

	&.active:not(.selected)::before {
		outline-color: common.$theme-button-selected-outline;

		@include common.forcedColors {
			outline-color: SelectedItem;
		}
	}
}
