.help-button {
	position: relative;
	display: inline-block;
	height: 1.25rem;
	aspect-ratio: 1;
	margin: 0.2em 0.4em;
	padding: 0;

	background-color: transparent;

	&:hover {
		filter: brightness(75%);
	}
}
