@import '../../styles/constants';
@import '../../styles/utils';
@import 'HeaderButton';

.Header {
	@include flex(row, wrap);
	background-color: $grey-mid;
	width: 100%;
	position: relative;

	& > div {
		@include flex(row, wrap);
		align-items: flex-start;

		&.rightHeader, &.leftHeader {
			align-items: stretch;

			& > span {
				@include flex;
				align-items: center;
				justify-content: space-around;
				min-width: 6em;
				min-height: $header-button-height;
				padding: 0 1em;
			}
		}

		.characterMenu {
			background: #888;
			position: absolute;
			top: calc(100% + 0.2em);
			left: 0.2em;
			border: 0.2em solid black;
			header {
				@include center-flex;
				background: #777;
				padding: 0.2em;
			}
		}
	}
}
