@import '../../styles/constants';
@import '../../styles/utils';
@import 'HeaderButton';

.Header {
	@include flex(row, wrap);
	background-color: $grey-mid;
	width: 100%;

	& > div {
		@include flex;
		align-items: flex-start;

		&.rightHeader {
			align-items: stretch;

			& > span {
				@include flex;
				align-items: center;
				justify-content: space-around;
				min-width: 6em;
				min-height: $header-button-height;
				padding: 0 1em;
			}
		}
	}
}
