@import '../../styles/constants';

.direct-message {
	display: flex;
	flex-flow: column;
	height: 100%;
	background-color: $grey-darker;

	.direct-message-list {
		position: relative;
		flex: 1;
		overflow: hidden;
		user-select: text;
	}

	.direct-message-entry {
		color: $white;
		padding: 0.1em;
		white-space: pre-wrap;
		overflow-wrap: break-word;

		&:not(:hover) {
			// Prevent Zalgo text from getting weird (but still show it if the message is hovered)
			overflow: hidden;
			overflow: clip;
			overflow-clip-margin: 0.05em;
		}

		&__info {
			float: right;
			color: $grey-mid;
			font-style: italic;
			font-size: 0.6em;
			margin-right: 0.2em;
		}
	}

	textarea {
		height: min(10em, 35%);
		resize: none;
		margin: 0;
		color: #fff;
		font-size: 105%;
		background-color: #505050;
		border: none;
			outline: none;

		&:focus {
			background-color: #000;
		}

		&::placeholder {
			color: #777;
			opacity: 1; /* Firefox */
		}
	}

	.autocomplete-hint {
		position: unset;
	}
}
