@import '../../styles/constants';
@import '../../styles/utils';

.roomAdminScreen {
	width: min(100%, 50em);

	& > * {
		margin-top: 0.5em;
	}

	.input-container {
		@include flex(column);
		margin-top: 1em;
		gap: 0.5em;
		width: 100%;

		ul {
			margin-top: 0;
		}
	}

	.input-line {
		@include flex(row);
		gap: 0.5em;
		width: 100%;
	}

	.row-half {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}

	.row-first {
		display: grid;
		grid-template-columns: 1fr 5em;
		gap: 1em;
	}

	.message {
		font-size: 0.9em;
		margin: 0.5em 0;
	}

	.error {
		@extend .message;
		color: $theme-error;
		font-weight: 600;
	}
}

.backgroundSelect {

	max-width: 95vw;
	max-height: 40vw;
	display: grid;
	row-gap: 0.3em;
	grid-template-rows: auto auto auto;

	.header {
		display: grid;
		grid-template-columns: auto 1fr 1fr;
		grid-template-rows: auto;
		column-gap: 0.6em;
		max-width: 95vw;
		align-items: center;

		.input-filter {
			@include flex(column);
			gap: 0.5em;
			width: 100%;
			background-image: url('../../icons/magnifier.svg');
			background-size: 20px;
			background-position: 7px 7px;
			background-repeat: no-repeat;
			padding-left: 30px;

			ul {
				margin-top: 0;
			}
		}

		.dropdown {
			position: relative;
			display: inline-block;
		}

		.dropdown-button {
			background-color: $grey-lighter;
			text-align: left;
			color: $grey-dark;
			padding: 0.5em;
			font-size: 16px;
			border: solid;
			width: 100%;
			cursor: pointer;
		}

		.dropdown-content {
			display: none;
			position: absolute;
			background-color: $grey-lighter;
			box-shadow: 0.3em 0.3em 0.2em $drop-shadow;
			padding: 12px 16px;
			z-index: 1;
		}

		.dropdown:hover .dropdown-content {
			display: block;
		}
	}

	.backgrounds {
		height: 35vw;
		display: grid;
		gap: 0.2em;
		justify-content: space-evenly;
		grid-template-columns: 1fr 1fr 1fr;
		overflow-y: scroll;

		.details {
			display: grid;
			grid-template-rows: auto auto;
			max-height: 125px;

			.preview {
				margin-left: auto;
				margin-right: auto;
				width: 200px;
				height: 100px;
				box-shadow: 0.3em 0.3em 0.2em $drop-shadow;
			}
			.preview-bw {
				margin-left: auto;
				margin-right: auto;
				width: 200px;
				height: 100px;
				box-shadow: 0.3em 0.3em 0.2em $drop-shadow;
				filter: grayscale(100%);
			}
			.preview-bw:hover {
				filter: none;
			}
			.preview::selection {
				border: none;
			}
			.name {
				text-align: center;
			}
		}
	}

	.footer {
		max-width: 100%;
	}
}
