@import '../../styles/constants';
@import '../../styles/utils';

.roomAdminScreen {
	width: min(100%, 50em);

	&>* {
		margin-top: 0.5em;
	}

	.input-container {
		@include flex(column);
		margin-top: 1em;
		gap: 0.5em;
		width: 100%;

		ul {
			margin-top: 0;
		}

		input[type='color'] {
			width: 100%;
			height: 100%;
		}
	}

	.input-line {
		@include flex(row);
		gap: 0.5em;
		width: 100%;
	}

	.row-half {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}

	.row-first {
		display: grid;
		grid-template-columns: 1fr 5em;
		gap: 1em;
	}

	.message {
		font-size: 0.9em;
		margin: 0.5em 0;
	}

	.error {
		@extend .message;
		color: $theme-error;
		font-weight: 600;
	}
}

.backgroundSelect {

	max-width: 95vw;
	max-height: 60vh;
	display: flex;
	flex-flow: column;
	gap: 0.5em;

	.header {
		@include flex(column);
		gap: 0.5em;
		max-width: 95vw;

		.header-filter {
			display: grid;
			grid-template-columns: auto 1fr;
			grid-template-rows: auto;
			column-gap: 0.6em;
			width: 100%;

			span {
				margin: auto 0;
			}
		}

		.header-tags {
			@include flex(row);
			gap: 0.5em;
			width: 100%;

			button {
				width: 100%;

				span {
					float: right;
				}
			}
		}

		align-items: center;

		.input-filter {
			@include flex(column);
			gap: 0.5em;
			width: 100%;
			background-image: url('../../icons/magnifier.svg');
			background-size: 20px;
			background-position: 7px 7px;
			background-repeat: no-repeat;
			padding-left: 34px;

			ul {
				margin-top: 0;
			}
		}

		.dropdown {
			position: relative;
			display: inline-block;
			flex: 1;
			min-width: max-content;
		}

		.dropdown-button {
			background-color: $grey-lighter;
			text-align: left;
			color: $grey-dark;
			padding: 0.5em;
			border: solid;
			width: 100%;
			cursor: pointer;
		}

		.dropdown-content {
			@include flex(column);
			display: none;
			position: absolute;
			background-color: $grey-lighter;
			box-shadow: 0.3em 0.3em 0.2em $drop-shadow;
			padding: 0.8em 1em;
			z-index: 1;
		}

		.dropdown:hover .dropdown-content {
			display: flex;
		}
	}

	.backgrounds {
		flex: 1;
		display: grid;
		gap: 0.2em;
		padding: 0.2em;
		justify-content: space-evenly;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		overflow-x: hidden;
		overflow-y: scroll;
		background-color: $grey-lighter;

		.details {
			height: 10em;

			.preview {
				@include center-flex;
				flex: 1;
				overflow: hidden;

				img {
					max-width: 100%;
					max-height: 100%;
					object-fit: contain;
					box-shadow: 0.3em 0.3em 0.2em $drop-shadow;
				}
			}

			.name {
				text-align: center;
			}
		}

		a:active {
			outline: none;
		}
	}

	.footer {
		max-width: 100%;
	}
}

.backgroundInfo {
	img {
		max-width: 46em;
		max-height: 46em;
	}
}
