@import '../../styles/utils';

.wardrobe {
	display: flex;
	flex-flow: row;
	gap: 1em;

	height: 100%;

	.characterPreview {
		height: 100%;
		width: max(min(20em, 90vw), 33vw);
		flex-shrink: 0;
		canvas {
			height: 100%;
			width: 100%;
		}
	}

}

.inventoryView {
	height: 100%;
	flex: 1 1 0px;
	background-color: #ddd;
	border: solid black 2px;
	display: grid;
	grid-template:
		"toolbar" 3em
		"list" auto
		/ auto;
	min-width: min(20em, 90vw);

	.toolbar {
		grid-area: toolbar;
		display: flex;
		flex-direction: row;

		span {
			flex: 1;
			display: flex;
			align-items: center;
			padding: 0.2em;
		}

		button {
			border: solid black 1px;
			margin: 2px;
			&.active {
				background-color: #999;
			}
		}
	}

	.list,.grid {
		grid-area: list;
		overflow: auto;
		display: flex;
		padding: 3px;
		gap: 3px;
	}

	.list {
		flex-flow: column;
	}

	.grid {
		flex-flow: row wrap;
		align-items: flex-start;
		align-content: flex-start;
	}
}

.inventoryViewItem {
	border: solid black 1px;
	background-color: #ccc;
	display: flex;

	&.allowed:hover {
		cursor: pointer;
		background-color: #aaa;
	}

	&.blocked {
		background-color: #977;
	}

	&.listMode {
		padding: 3px 0.5em;
		height: 2em;
		align-items: center;
		gap: 0.5em;

		.itemPreview {
			height: 1.5em;
			width: 1.5em;
			border: solid black 1px;
		}
	}

	&.gridMode {
		padding: 0.5em;
		width: 32%;
		flex-direction: column;
		row-gap: 0.5em;

		.itemPreview {
			width: 100%;
			aspect-ratio: 1;
			border: solid black 1px;
		}

		.itemName {
			@include center-flex;
			height: 2em;
			width: 100%;
		}
	}
}
