@use '../../../styles/common';

.GridContainer {
	display: grid;

	&.inline {
		display: inline-grid;
	}

	&.justify-items-start {
		justify-items: start;
	}
	&.justify-items-end {
		justify-items: end;
	}
	&.justify-items-center {
		justify-items: safe center;
	}
	&.justify-items-stretch {
		justify-items: stretch;
	}

	&.align-items-start {
		align-items: start;
	}
	&.align-items-end {
		align-items: end;
	}
	&.align-items-center {
		align-items: safe center;
	}
	&.align-items-baseline {
		align-items: baseline;
	}
	&.align-items-stretch {
		align-items: stretch;
	}

	&.justify-start {
		justify-content: start;
	}
	&.justify-end {
		justify-content: end;
	}
	&.justify-center {
		justify-content: safe center;
	}
	&.justify-stretch {
		justify-content: stretch;
	}
	&.justify-space-between {
		justify-content: space-between;
	}
	&.justify-space-around {
		justify-content: space-around;
	}
	&.justify-space-evenly {
		justify-content: space-evenly;
	}

	&.align-start {
		align-content: start;
	}
	&.align-end {
		align-content: end;
	}
	&.align-center {
		align-content: safe center;
	}
	&.align-stretch {
		align-content: stretch;
	}
	&.align-space-between {
		align-content: space-between;
	}
	&.align-space-around {
		align-content: space-around;
	}
	&.align-space-evenly {
		align-content: space-evenly;
	}
}
