@use '../../styles/common';

.dialog {
	background: common.$theme-dialog-overlay;
	position: fixed;
	inset: 0;
	z-index: common.$z-index-dialog;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	isolation: isolate;
	overflow: hidden;

	.dialog-content {
		max-width: calc(100% - 1em);
		max-height: calc(100% - 1em);

		padding: 1em;
		border: 1px solid common.$theme-dialog-border;
		border-radius: 1em;
		background: common.$theme-dialog-background;
		color: common.$theme-dialog-text;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-color: common.$forcedColors-separator;
		}
	}

	&.max-size .dialog-content {
		width: calc(100% - 1em);
		height: calc(100% - 1em);
	}

	&.top {
		justify-content: start;

		.dialog-content {
			margin-top: 4em;
			max-height: calc(100% - 4.5em);
		}
	}
}

.overlay-bounding-box {
	position: absolute;
	inset: 0;
	margin: 0;
	overflow: clip;

	pointer-events: none;

	>* {
		pointer-events: auto;
	}

	&.modal {
		background: common.$theme-dialog-overlay;
		pointer-events: auto;
		z-index: common.$z-index-dialog;
	}
}

.dialog-draggable {
	z-index: common.$z-index-dialog;
	// Do NOT hide overflow for the dialog itself - otherwise drag handles break
	min-width: 8em;
	min-height: 5em;

	border: 1px solid common.$theme-dialog-border;
	border-radius: 1em;
	background: common.$theme-dialog-background;
	color: common.$theme-dialog-text;
	display: flex !important; // Overrides value from library
	flex-flow: column;
	isolation: isolate;

	@include common.forcedColors {
		background: Canvas;
		color: CanvasText;
		border-color: common.$forcedColors-separator;
	}

	>header {
		@include common.center-flex;
		overflow: hidden;
		padding: 0.1em 0.5em;
		border-radius: 1em 1em 0 0; // Needs to match the dialog
		background: common.$theme-dialog-header;
		position: relative;
		min-height: 1.5em;
		gap: 0.5em;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-bottom: 1px solid common.$forcedColors-separator;
		}

		.dialog-title {
			padding: 0.25em 0.5em;
		}

		.dialog-close, .dialog-shade, .dialog-button {
			@include common.center-flex;
			width: 1.5em;
			height: 1.5em;
			cursor: pointer;
			border-radius: 50%;

			@include common.forcedColors {
				background: ButtonFace;
				color: ButtonText;
				border: 1px solid ButtonBorder;
			}

			img {
				width: 70%;
				height: 70%;
				user-select: none;
				pointer-events: none;
			}
		}

		.dialog-close {
			&:hover {
				background: common.$theme-dialog-button-close-hover-background;

				@include common.forcedColors {
					background: ButtonFace;
					border-color: common.$forcedColors-accentColorFallback;
					border-color: AccentColor;
				}
			}
		}

		.dialog-shade, .dialog-button {
			&:hover {
				background: common.$theme-dialog-button-hover-background;

				@include common.forcedColors {
					background: ButtonFace;
					border-color: common.$forcedColors-accentColorFallback;
					border-color: AccentColor;
				}
			}

			&.active {
				background: common.$theme-dialog-button-active-background;
				color: common.$theme-dialog-button-active-text;

				@include common.forcedColors {
					background: SelectedItem;
					color: SelectedItemText;
				}

				&:hover {
					background: common.$theme-dialog-button-active-hover-background;

					@include common.forcedColors {
						background: SelectedItem;
						border-color: common.$forcedColors-accentColorFallback;
						border-color: AccentColor;
					}
				}

				img {
					filter: common.$theme-dialog-button-active-imgfilter;

					@include common.forcedColors {
						filter: none;
					}
				}
			}
		}
	}

	>.dialog-header {
		display: flex;

		>.drag-handle{
			flex: 12;
			cursor: move;
		}
	}

	>.dialog-content {
		padding: 1em;
		display: flex;
		flex-flow: column;
		flex: 1;
		overflow: auto;
	}

	&.shaded {
		// Override manual sizing to allow dialog to shrink
		height: auto !important;
		min-height: unset !important;
		overflow: hidden;

		>.dialog-content, .resize-handle-wrapper {
			display: none;
		}
	}

	&.dialogHighlight {
		outline: solid 3px common.$theme-dialog-border-highlight;
	}
}

.dialog-confirm {
	max-width: min(95vw, 50em);
}
