@import '../../styles/common';

.dialog {
	background-color: $black-secondary;
	position: fixed;
	inset: 0;
	z-index: 10000;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	isolation: isolate;
	overflow: hidden;

	.dialog-content {
		max-width: calc(100% - 1em);
		max-height: calc(100% - 1em);

		padding: 1em;
		border: 1px solid $black;
		border-radius: 1em;
		background-color: $grey-lightest;
	}

	&.top {
		justify-content: start;

		.dialog-content {
			margin-top: 4em;
		}
	}
}

.overlay-bounding-box {
	position: absolute;
	inset: 0;
	margin: 0;
	overflow: hidden;

	pointer-events: none;

	>* {
		pointer-events: auto;
	}

	&.modal {
		background-color: $black-secondary;
		pointer-events: auto;
		z-index: 1000;
	}
}

.dialog-draggable {
	z-index: 1000;
	overflow: hidden;
	min-width: 8em;
	min-height: 5em;

	border: 1px solid $black;
	border-radius: 1em;
	background-color: $grey-lightest;
	display: flex !important;
	flex-flow: column;
	isolation: isolate;

	>header {
		@include center-flex;
		padding: 0.2em 0.2em 0.2em 1em;
		background-color: $grey-light;
		position: relative;
		min-height: 1.5em;
		gap: 1em;

		.dialog-close, .dialog-shade {
			flex: 1;
			max-width: 2em;
			text-align: center;
			cursor: pointer;
		}

		.dialog-close {
			&:hover {
				color: red;
			}
		}

		.dialog-shade {
			&:hover {
				color: white;
			}
		}
	}

	>.dialog-header {
		display: flex;

		>.drag-handle{
			flex: 12;
			cursor: move;
		}
	}

	>.dialog-content {
		padding: 1em;
		display: flex;
		flex-flow: column;
		flex: 1;
		overflow: auto;
	}

	&.shaded {
		height: auto !important;
		min-height: unset !important;

		>.dialog-content, .resize-handle-wrapper {
			display: none;
		}
	}
}

.dialog-confirm {
	max-width: min(95vw, 50em);
}


