.account-settings {
	display: flex;
	justify-content: center;
	justify-items: center;
	align-items: center;
	flex-flow: column;

	& fieldset {
		display: flex;
		flex-direction: column;
		width: 30em;
		background-color: white;
		border: 1px solid black;
		border-radius: 0.5em;

		>legend {
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 0.5em;
			background-color: white;
			border: 1px solid black;
			border-radius: 0.5em;
			padding: 0.2em;
		}
	}

	th, td {
		text-align: center;
	}

	.input-row {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		margin-top: 1em;
	}
}
