@import '../../styles/constants';
@import '../../styles/utils';

.AuthFormRouter {
	@include flex(column);
	align-items: center;
	width: 360px;
	max-width: 90vw;
	border-radius: 0.2em;
	background-color: $grey-light;
	padding: 2em;
	box-shadow: 0 0.2em 0.4em 0 $black-decoration, 0 0.3em 1em 0 $black-decoration;
}
