@import '../../styles/constants';
@import '../../styles/utils';

.login, .registration, .forgotPassword {
	@include flex(column);
	align-items: center;
	justify-content: center;

	.auth-form {
		@include flex(column);
		width: 360px;
		max-width: 90vw;
		align-items: center;
		border-radius: 0.2em;
		background-color: $grey-light;
		padding: 2em 3em;
		box-shadow: 0 0.2em 0.4em 0 $black-decoration, 0 0.3em 1em 0 $black-decoration;

		form {
			@include flex(column);
			width: 100%;
			align-items: center;
			gap: 0.9em;
			margin-top: 1em;
		}
	}

	.title {
		font-size: 1.8rem;
		margin-bottom: 1em;
		text-align: center;
	}

	.input-container {
		@include flex(column);
		gap: 0.5em;
		width: 100%;
	}

	button[type="submit"] {
		margin: 2em 0 1em;
	}

	.message {
		font-size: 0.9em;
		text-align: center;
		margin: 0.5em 0;
	}

	.error {
		@extend .message;
		color: $theme-error;
		font-weight: 600;
	}

	.login-links {
		font-size: 0.95em;
		margin-top: 1em;
	}
}
