@use '../../../styles/common';

.management-roles {
	display: flex;
	flex-flow: column;
	justify-content: center;
	padding: 1em;
	gap: 1em;

	> table {
		max-width: 50em;
		margin: 2em auto;

		th, td {
			white-space: nowrap;
		}
	}

	> .role-grant {
		margin: auto;

		.input-row {
			margin: 0.5em 0;
		}
	}

	> :first-child {
		margin: auto;
	}

	.input-row {
		display: flex;

		label {
			width: 8em;
			height: 2em;
			margin: auto 0;
		}

		input[type=checkbox] {
			margin: auto 0;
		}

		input[type=text],
		input[type=number],
		input[type=date] {
			margin-left: 0.5em;
			width: 10em;
		}
	}
}
