@import 'styles/typography';
@import 'styles/forms';
@import 'styles/utils';

* {
	box-sizing: border-box;
}

html, body {
	height: 100%;
	margin: 0;
	background-color: $grey-lightest;
}

#pandora-root {
	@include flex(column);
	margin: 0;
	height: 100%;
	background-color: $grey-lighter;
	user-select: none;
}

div.main {
	@include flex(column);
	background-color: $grey-lighter;
	flex: 1;
	padding: 1em;

	& > * {
		flex: 1;
	}
}
