@use 'sass:map';
@use '../../../styles/common';

.Button {
	@include common.center-flex;
	display: inline-flex;
	position: relative;
	gap: 0.5em;

	border-radius: common.spacing('small');
	padding: 0.8em 1.2em;
	border: 1px solid;

	outline-offset: -0.25em;

	@each $theme-name, $theme-data in common.$theme-button {
		&.#{$theme-name} {
			background: map.get($theme-data, "background");
			border-color: map.get($theme-data, "border");
			color: map.get($theme-data, "color");

			&:hover, &:active {
				&:not(:disabled) {
					background: map.get($theme-data, "hover-background");
					color: map.get($theme-data, "hover-color");
				}
			}

			&:focus-visible {
				outline: 0.25em solid map.get($theme-data, "focus-outline");
			}

			&:disabled {
				cursor: unset;
				background: map.get($theme-data, "disabled-background");
				color: map.get($theme-data, "disabled-color");
				border-color: map.get($theme-data, "disabled-border");

				img, canvas {
					filter: map.get($theme-data, "disabled-icon-filter");
				}

				.normalDisabled {
					background: map.get($theme-data, "background");
					border-color: map.get($theme-data, "border");
					color: map.get($theme-data, "color");

					img, canvas {
						filter: map.get($theme-data, "icon-filter")
					}
				}
			}

			img, canvas {
				filter: map.get($theme-data, "icon-filter");
			}
		}
	}

	&.slim {
		gap: 0.3em;
		padding: 0.1em 0.3em;
	}

	&.half-slim {
		gap: 0.3em;
		padding: 0.2em 0.6em;
	}

	&.align-start {
		justify-content: start;
		text-align: start;
	}

	&.hideDisabled:disabled {
		visibility: hidden !important;
	}

	&.IconButton {
		padding: 0.3em;

		img, canvas {
			height: 100%;
			max-width: 100%;
			user-select: none;
			pointer-events: none;
			object-fit: contain;
		}
	}

	&:not(.IconButton) {
		img, canvas {
			margin: -0.2em 0;
			height: 1.2em;
			width: 1.2em;
			pointer-events: none;
		}

		&.slim {
			img, canvas {
				margin: 0 0;
			}
		}
	}

	&.danger {
		font-weight: bold;
	}

	.badge {
		display: inline-block;
		position: absolute;
		top: -0.45em;
		right: -0.45em;

		aspect-ratio: 1;
		min-height: unset;
		min-width: unset;
		width: 1.4em;
		height: 1.4em;
		font-size: 0.8em;
		line-height: 1.5;
		background: common.$theme-notification-badge-background;
		color: common.$theme-notification-badge-text;
		border-radius: 100%;
		padding: 0 0.3em;
		text-align: center;

		&.badge-type-passive {
			background: common.$theme-notification-badge-passive-background;
			color: common.$theme-notification-badge-passive-text;
		}
	}
}
