@import '../../../styles/utils';

$button-themes: (
	default: (
		background: $grey-darkest,
		border: $grey-darkest,
		color: white,
		background-hover: $grey-dark,
		color-hover: white,
		focus-outline: $white,
		icon-filter: none
	),
	defaultActive: (
		background: $grey-lighter,
		border: $grey-darkest,
		color: black,
		background-hover: $grey-lightest,
		color-hover: black,
		focus-outline: $white,
		icon-filter: invert(100%)
	),
	danger: (
		background: $grey-darkest,
		border: darkred,
		color: red,
		background-hover: $grey-dark,
		color-hover: red,
		focus-outline: red,
		icon-filter: none
	),
);

.Button {
	@include center-flex;
	display: inline-flex;
	gap: 0.5em;

	border-radius: 0.2em;
	padding: 0.8em 1.2em;
	border: 0.2em solid;

	@each $theme-name, $theme-data in $button-themes {
		&.#{$theme-name} {
			background: map-get($theme-data, "background");
			border-color: map-get($theme-data, "border");
			color: map-get($theme-data, "color");

			&:hover, &:active {
				background: map-get($theme-data, "background-hover");
				color: map-get($theme-data, "color-hover");
			}

			&:hover {
				border-color: map-get($theme-data, "background-hover");
			}

			&:focus, &:active {
				border-color: map-get($theme-data, "focus-outline");
			}

			&:disabled {
				cursor: unset;
				&:hover, &:focus, &:active {
					background: map-get($theme-data, "background");
					border-color: map-get($theme-data, "background");
					color: map-get($theme-data, "color");
				}
			}

			&.IconButton img {
				filter: map-get($theme-data, "icon-filter");
			}
		}
	}

	&.slim {
		gap: 0.3em;
		padding: 0.1em 0.3em;
	}

	&.inverseColor {
		img {
			filter: invert(100%);
		}
	}

	&:disabled {
		filter: grayscale(100%) opacity(50%);

		&.hideDisabled {
			visibility: hidden !important;
		}
	}

	&.IconButton {
		padding: 0.3em;

		img {
			width: 100%;
			height: 100%;
		}
	}

	&:not(.IconButton) {
		img {
			margin: -0.2em 0;
			height: 1.2em;
			width: 1.2em;
		}

		&.slim {
			img {
				margin: 0 0;
			}
		}
	}

	&.danger {
		font-weight: bold;
	}

	&.danger:disabled {
		filter: grayscale(20%) opacity(80%);
	}
}
