@import '../../../styles/utils';

$button-themes: (
	default: (
		background: $grey-darkest,
		border: $grey-darkest,
		color: $white-primary,
		background-hover: $grey-light,
		color-hover: $black-primary,
		focus-outline: $white,
		icon-filter: none
	),
	defaultActive: (
		background: $grey-lighter,
		border: $grey-darkest,
		color: $grey-darkest,
		background-hover: $grey-lightest,
		color-hover: $black-primary,
		focus-outline: $white,
		icon-filter: invert(100%)
	),
);

.Button {
	border-radius: 0.2em;
	padding: 0.8em 1.8em;
	border: 0.2em solid;

	@each $theme-name, $theme-data in $button-themes {
		&.#{$theme-name} {
			background-color: map-get($theme-data, "background");
			border-color: map-get($theme-data, "border");
			color: map-get($theme-data, "color");

			&:hover, &:active {
				background-color: map-get($theme-data, "background-hover");
				color: map-get($theme-data, "color-hover");
			}

			&:hover {
				border-color: map-get($theme-data, "background-hover");
			}

			&:focus, &:active {
				border-color: map-get($theme-data, "focus-outline");
			}

			&:disabled {
				cursor: unset;
				&:hover, &:focus, &:active {
					background-color: map-get($theme-data, "background");
					border-color: map-get($theme-data, "background");
					color: map-get($theme-data, "color");
				}
			}

			&.IconButton img {
				filter: map-get($theme-data, "icon-filter");
			}
		}
	}

	&.slim {
		padding: 0.1em 0.3em;
	}

	&.hideDisabled:disabled {
		visibility: hidden !important;
	}

	&.fadeDisabled:disabled {
		filter: grayscale(100%) opacity(50%);
	}

	&.IconButton {
		@include center-flex;

		padding: 0.3em;

		img {
			width: 100%;
			height: 100%;
		}
	}
}
