@use 'sass:map';
@use '../../../styles/common';

$button-system-theme: (
	default: (
		border: ButtonBorder,
		background: ButtonFace,
		color: ButtonText,
		icon-filter: none,
		hover-border: AccentColor,
		hover-border-fallback: common.$forcedColors-accentColorFallback,
		disabled-background: ButtonFace,
		disabled-color: GrayText,
		disabled-icon-filter: opacity(50%),
		focus-outline: AccentColor,
		focus-outline-fallback: common.$forcedColors-accentColorFallback,
	),
	selected: (
		border: ButtonBorder,
		background: SelectedItem,
		color: SelectedItemText,
		icon-filter: none,
		hover-border: AccentColor,
		hover-border-fallback: common.$forcedColors-accentColorFallback,
		disabled-background: SelectedItem,
		disabled-color: GrayText,
		disabled-icon-filter: opacity(50%),
		focus-outline: AccentColor,
		focus-outline-fallback: common.$forcedColors-accentColorFallback,
	),
);

$header-button-img-height: 1.5em;
$header-button-v-padding: 0.3em;

.Button {
	@include common.center-flex;
	display: inline-flex;
	position: relative;
	gap: 0.5em;

	border-radius: common.spacing('small');
	padding: 0.8em 1.2em;
	border: 1px solid;

	outline-offset: -0.25em;

	@each $theme-name, $theme-data in common.$theme-button {
		$theme-system-data: map.get($button-system-theme, map.get($theme-data, "systemTheme"));

		&.#{$theme-name} {
			background: map.get($theme-data, "background");
			border-color: map.get($theme-data, "border");
			color: map.get($theme-data, "color");

			@include common.forcedColors {
				background: map.get($theme-system-data, "background");
				border-color: map.get($theme-system-data, "border");
				color: map.get($theme-system-data, "color");
			}

			&:hover, &:active {
				&:not(:disabled) {
					background: map.get($theme-data, "hover-background");
					color: map.get($theme-data, "hover-color");

					@include common.forcedColors {
						background: map.get($theme-system-data, "background");
						border-color: map.get($theme-system-data, "hover-border-fallback");
						border-color: map.get($theme-system-data, "hover-border");
						color: map.get($theme-system-data, "color");
					}
				}
			}

			&:focus-visible {
				outline: 0.25em solid map.get($theme-data, "focus-outline");

				@include common.forcedColors {
					outline-color: map.get($theme-system-data, "focus-outline-fallback");
					outline-color: map.get($theme-system-data, "focus-outline");
				}
			}

			&:disabled {
				cursor: unset;
				background: map.get($theme-data, "disabled-background");
				color: map.get($theme-data, "disabled-color");
				border-color: map.get($theme-data, "disabled-border");

				@include common.forcedColors {
					background: map.get($theme-system-data, "disabled-background");
					color: map.get($theme-system-data, "disabled-color");
					border-color: map.get($theme-system-data, "border");
				}

				img, canvas {
					filter: map.get($theme-data, "disabled-icon-filter");

					@include common.forcedColors {
						filter: map.get($theme-system-data, "disabled-icon-filter");
					}
				}

				.normalDisabled {
					background: map.get($theme-data, "background");
					border-color: map.get($theme-data, "border");
					color: map.get($theme-data, "color");

					@include common.forcedColors {
						background: map.get($theme-system-data, "background");
						border-color: map.get($theme-system-data, "border");
						color: map.get($theme-system-data, "color");
					}

					img, canvas {
						filter: map.get($theme-data, "icon-filter");

						@include common.forcedColors {
							filter: map.get($theme-system-data, "icon-filter");
						}
					}
				}
			}

			img, canvas {
				filter: map.get($theme-data, "icon-filter");

				@include common.forcedColors {
					filter: map.get($theme-system-data, "icon-filter");
				}
			}
		}
	}

	&.slim {
		gap: 0.3em;
		padding: 0.1em 0.3em;
	}

	&.half-slim {
		gap: 0.3em;
		padding: 0.2em 0.6em;
	}

	&.align-start {
		justify-content: start;
		text-align: start;
	}

	&.hideDisabled:disabled {
		visibility: hidden !important;
	}

	&.IconButton {
		padding: 0.3em;

		img, canvas {
			height: 100%;
			max-width: 100%;
			user-select: none;
			pointer-events: none;
			object-fit: contain;
		}
	}

	&.HeaderButton {
		min-width: 4em;
		padding: 0;
		justify-content: start;
		text-align: start;

		.icon-container {
			position: relative;
			display: inline-block;
			height: $header-button-img-height + 2 * $header-button-v-padding;
			padding: $header-button-v-padding 0.5em;

			.badge {
				position: absolute;
				display: inline-block;
				top: unset;
				right: unset;
				bottom: 0;
				left: 60%;
			}
		}

		img {
			height: $header-button-img-height;
		}

		&.NarrowHaederButton {
			min-width: unset;
			padding: 1px 4px;

			.icon-container {
				position: unset;
				height: unset;
				padding: 0;

				.badge {
					top: 1px;
					right: 1px;
					bottom: unset;
					left: unset;
				}
			}
		}
	}

	&:not(.IconButton):not(.HeaderButton) {
		img, canvas {
			margin: -0.2em 0;
			height: 1.2em;
			width: 1.2em;
			pointer-events: none;
		}

		&.slim {
			img, canvas {
				margin: 0 0;
			}
		}
	}

	&.danger {
		font-weight: bold;
	}

	.badge {
		display: inline-block;
		position: absolute;
		top: -0.45em;
		right: -0.45em;

		aspect-ratio: 1;
		min-height: unset;
		min-width: unset;
		width: 1.4em;
		height: 1.4em;
		font-size: 0.8em;
		line-height: 1.5;
		background: common.$theme-notification-badge-background;
		color: common.$theme-notification-badge-text;
		border-radius: 100%;
		padding: 0 0.3em;
		text-align: center;

		@include common.forcedColors {
			background: Mark;
			color: MarkText;
			border: 1px solid common.$forcedColors-separator;
		}

		&.badge-type-passive {
			background: common.$theme-notification-badge-passive-background;
			color: common.$theme-notification-badge-passive-text;

			@include common.forcedColors {
				background: Canvas;
				color: CanvasText;
			}
		}
	}
}
