@import '../../../styles/common';

.spacesSearchGrid {
	display: grid;
	width: 100%;
	height: 4.5em;
	grid-template-columns:
		minmax(30px, 0.33fr) minmax(540px, 2fr) minmax(260px, 6fr);
	grid-template-rows: auto;
	align-items: center;
	padding: 0.5em;
	background-color: $theme-normal-background;
	color: $theme-normal-text;
	border: 0.15em solid black;

	&.selected {
		background-color: $theme-active-background;
		color: $theme-active-text;
		.entry .offlineCount {
			color: $theme-active-text-dim;
		}
	}

	&:nth-child(even):not(:hover):not(.selected) {
		background-color: $theme-normal-background-secondary;
	}

	&:hover:not(.selected) {
		color: $theme-hover-text;
		background-color: $theme-hover-background;

		.entry .offlineCount {
			color: $theme-hover-text-dim;
		}
	}

	&.empty {
		&:not(:hover):not(.selected) {
			color: $theme-normal-text-dim;

			.entry .offlineCount {
				color: $theme-normal-text-dim;
			}
		}

		.entry {
			font-style: italic;
		}
	}

	&.full .userCount {
		background-color: color-mix(in srgb, transparent, $theme-error 40%);
		border-radius: 0.5em;
	}

	.icon {
		display: flex;
		justify-content: center;
		align-items: center;
		height: 80%;
		aspect-ratio: 1;
		overflow: hidden;

		img {
			width: 100%;
			height: 100%;
		}
	}

	.entry {
		padding: 0.5em;
		text-align: left;
		vertical-align: middle;
		background-color: transparent;
		white-space: nowrap;

		.offlineCount {
			color: $theme-normal-text-dim;
			transition: all 150ms linear;
		}
	}

	.description-preview {
		padding: 0.5em;
		text-align: left;
		vertical-align: middle;
		background-color: transparent;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	.userCount {
		padding: 0 0.25em;
	}
}

.spacesSearchSpaceDetails {
	max-width: 95vw;
	display: grid;
	gap: spacing('medium');
	grid-template-columns: auto 200px;

	.preview {
		grid-column: 2;
		grid-row: 1 / 4;
		box-shadow: 0.3em 0.3em 0.2em $drop-shadow;
		align-items: end;
	}

	.ownership {
		grid-column: 1;
		grid-row: 2;
	}

	.features {
		grid-column: 1;
		grid-row: 3;
	}

	.features-img {
		width: 2.5em;
		height: 2.5em;
		border: 1px solid black;
		padding: 0.1em;

		&.warning {
			background-color: $theme-warningbox-background;
			color: $theme-warningbox-text;
		}
	}

	.description-title {
		grid-row: 4;
	}

	.widebox {
		grid-column: 1 / 3;
		border: 0.1em solid black;
		padding: 0.2em;
		min-width: min(70em, 95vw);
		max-width: 95vw;
		background-color: $theme-textbox-background;
		color: $theme-textbox-text;
	}

	.title {
		grid-column: 1 / 3;
	}

	.users-list {
		grid-column: 1 / 3;
		border: 0.1em solid black;
		padding: 0.2em;
		overflow-y: auto;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));

		.offline {
			color: $theme-normal-text-dim;
			font-style: italic;
		}
	}

	.buttons {
		grid-column: 1 / 3;
	}
}

.infoBox {
	border-radius: 0.6em;
	border: 2px solid $grey-dark;
	padding: 0.4em;

	&:hover {
		cursor: pointer;
		border: 2px solid $white;
	}
}
