@import '../../../styles/common';

.spacesSearchList {
	background-color: $theme-spacesearch-gapcolor;
	padding: 3px;

	.spacesSearchListEntry {
		display: grid;
		width: 100%;
		align-items: center;
		background-color: $theme-normal-background;
		color: $theme-normal-text;
		border: solid transparent 0.25em;
		padding: 0.25em;
		overflow: hidden;

		grid-template:
			"icon extraIcons name description" 3.5em
			/ 2.8em 2em minmax(30%, max-content) auto;
		// grid-template might have different value for narrow screens (see lower)

		&.selected {
			background-color: $theme-active-background;
			color: $theme-active-text;
			.entry .offlineCount {
				color: $theme-active-text-dim;
			}
		}

		&:nth-child(even):not(:hover):not(.selected) {
			background-color: $theme-normal-background-secondary;
		}

		&:hover:not(.selected) {
			color: $theme-hover-text;
			background-color: $theme-hover-background;

			.entry .offlineCount {
				color: $theme-hover-text-dim;
			}
		}

		&:focus-visible {
			border-color: $theme-spacesearch-entry-visiblefocus-outline;
		}

		&.empty {
			&:not(:hover):not(.selected) {
				color: $theme-normal-text-dim;

				.entry .offlineCount {
					color: $theme-normal-text-dim;
				}
			}

			.entry {
				font-style: italic;
			}
		}

		&.full .userCount {
			background-color: color-mix(in srgb, transparent, $theme-error 40%);
			border-radius: 0.5em;
		}

		.icon {
			grid-area: icon;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 80%;
			aspect-ratio: 1;
			overflow: hidden;

			img {
				width: 100%;
				height: 100%;
			}
		}

		.icons-extra {
			grid-area: extraIcons;
			height: 80%;
			display: flex;
			flex-flow: column;
			justify-content: flex-start;

			img {
				width: 1.5em;
				height: 1.5em;
			}
		}

		.entry {
			grid-area: name;
			padding: 0.5em;
			text-align: left;
			vertical-align: middle;
			background-color: transparent;
			white-space: nowrap;
			overflow: hidden;

			.offlineCount {
				color: $theme-normal-text-dim;
				transition: all 150ms linear;
			}
		}

		.description-preview {
			grid-area: description;
			padding: 0.5em;
			text-align: left;
			vertical-align: middle;
			background-color: transparent;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}

		.userCount {
			padding: 0 0.25em;
		}
	}

	&.narrowScreen {
		.spacesSearchListEntry {
			grid-template:
				"icon extraIcons name" 1.75em
				"icon extraIcons description" 1.75em
				/ 2.8em 2em auto;
		}
	}
}

.spacesSearchSpaceDetails {
	max-width: 95vw;
	display: grid;
	gap: spacing('medium');
	grid-template-columns: auto 200px;

	.preview {
		grid-column: 2;
		grid-row: 1 / 4;
		box-shadow: 0.3em 0.3em 0.2em $drop-shadow;
		align-items: end;
	}

	.ownership {
		grid-column: 1;
		grid-row: 2;
	}

	.features {
		grid-column: 1;
		grid-row: 3;
	}

	.features-img {
		width: 2.5em;
		height: 2.5em;
		border: 1px solid black;
		padding: 0.1em;

		&.warning {
			background-color: $theme-warningbox-background;
			color: $theme-warningbox-text;
		}
	}

	.description-title {
		grid-row: 4;
	}

	.widebox {
		grid-column: 1 / 3;
		border: 0.1em solid black;
		padding: 0.2em;
		min-width: min(70em, 95vw);
		max-width: 95vw;
		background-color: $theme-textbox-background;
		color: $theme-textbox-text;
	}

	.title {
		grid-column: 1 / 3;
	}

	.users-list {
		grid-column: 1 / 3;
		border: 0.1em solid black;
		padding: 0.2em;
		overflow-y: auto;
		display: grid;
		grid-template-columns: repeat(3, minmax(0, 1fr));

		div {
			display: flex;
			align-items: center;

			&.offline {
				color: $theme-normal-text-dim;
				font-style: italic;
			}

			span {
				padding: 0 0.25em;
			}

			img {
				height: 1em;
				width: 1em;
			}
		}
	}

	.buttons {
		grid-column: 1 / 3;
	}
}

.infoBox {
	background: $theme-tipsbox-normal-background;
	color: $theme-tipsbox-normal-text;
	border-radius: 0.6em;
	border: 2px solid $theme-tipsbox-normal-border;
	padding: 0.4em;

	&:hover {
		cursor: pointer;
		border: 2px solid $theme-tipsbox-hover-border;
	}

	&:focus-visible {
		outline: $theme-tipsbox-visiblefocus-outline solid 0.25em;
	}
}
