@use '../../../styles/common';

.backgroundSelect {
	width: min(50em, 90vw);
	max-height: calc(100vh - 10em);
	display: flex;
	flex-flow: column;
	gap: 0.5em;

	.header {
		@include common.flex(column);
		gap: 0.5em;
		max-width: 95vw;
		align-items: center;

		.header-filter {
			display: grid;
			grid-template-columns: minmax(40%, min-content) 1fr;
			grid-template-rows: auto;
			column-gap: 0.6em;
			width: 100%;

			span {
				margin: auto 0;
			}
		}

		.header-tags {
			@include common.flex(row, wrap);
			gap: 0.5em;
			width: 100%;

			button {
				width: 100%;

				span {
					float: right;
				}
			}
		}

		.input-filter {
			@include common.flex(column);
			gap: 0.5em;
			width: 100%;
			background-image: url('../../../icons/magnifier.svg');
			background-size: 1.5em;
			background-position: 0.5em 0.5em;
			background-repeat: no-repeat;
			padding: 0.5em 0.5em 0.5em 2.5em;

			ul {
				margin-top: 0;
			}
		}

		.dropdown {
			position: relative;
			display: inline-block;
			flex: 1;
			min-width: max-content;
		}

		.dropdown-button {
			text-align: left;
			padding: 0.5em;
			width: 100%;
			cursor: pointer;
			border: 1px solid common.$theme-spaceconfig-backgroundselect-filterdropdown-border;
			background: common.$theme-spaceconfig-backgroundselect-filterdropdown-background;
			color: common.$theme-spaceconfig-backgroundselect-filterdropdown-text;

			&:hover, &:active {
				&:not(:disabled) {
					background: common.$theme-spaceconfig-backgroundselect-filterdropdown-hover-background;
				}
			}

			&:focus-visible {
				outline: 0.25em solid common.$theme-spaceconfig-backgroundselect-filterdropdown-focus-outline;
			}
		}

		.dropdown-content {
			@include common.flex(column);
			display: none;
			position: absolute;
			max-height: 50vh;
			overflow-y: auto;
			border: 2px solid common.$theme-spaceconfig-backgroundselect-filterdropdown-contentborder;
			background: common.$theme-spaceconfig-backgroundselect-filterdropdown-contentbackground;
			box-shadow: 0.3em 0.3em 0.2em common.$themecolor-shadow;
			padding: 0.8em 1em;
			z-index: 1;

			a>span {
				display: inline-block;
				width: 1rem;
			}
		}

		.dropdown:hover .dropdown-content {
			display: flex;
		}
	}

	.backgrounds {
		flex: 1;
		display: grid;
		gap: 0.2em;
		padding: 0.2em;
		justify-content: space-evenly;
		grid-template-columns: repeat(3, minmax(0, 1fr));
		overflow-x: hidden;
		overflow-y: scroll;
		background: common.$theme-spaceconfig-backgroundselect-list-background;
		color: common.$theme-spaceconfig-backgroundselect-list-text;

		@media only screen and (width < 48rem) {
			grid-template-columns: repeat(2, minmax(0, 1fr));
		}

		.details {
			height: 10em;

			.preview {
				@include common.center-flex;
				flex: 1;
				contain: size;
				width: 100%;

				img {
					max-width: 100%;
					max-height: 100%;
					width: unset;
					height: unset;
					object-fit: contain;
					box-shadow: 0.3em 0.3em 0.2em common.$themecolor-shadow;
				}
			}

			.name {
				text-align: center;
			}
		}

		a:active {
			outline: none;
		}
	}

	.solidBackgroundOptions {
		min-height: fit-content;
		background: common.$theme-spaceconfig-backgroundselect-list-background;
		color: common.$theme-spaceconfig-backgroundselect-list-text;
	}

	.footer {
		max-width: 100%;
	}
}
