@use '../../../styles/common';

.spaceConfigurationScreen {
	display: flex;
	flex-flow: column;
	overflow: hidden;
	gap: common.spacing('medium');

	.creationButton {
		width: max(50vw, min(90%, 30em));
	}

	fieldset {
		display: flex;
		flex-direction: column;
		gap: common.spacing('large');
		min-width: min(100%, 30em);
		background: common.$theme-settings-fieldset-background;
		color: common.$theme-settings-fieldset-text;
		border: 1px solid common.$theme-settings-fieldset-border;
		border-radius: 0.5em;
		padding-bottom: 0.8em;
		margin: 0;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border-color: common.$forcedColors-separator;
		}

		>legend {
			display: flex;
			flex-direction: row;
			align-items: center;
			font-size: 1.2em;
			font-weight: bold;
			margin-bottom: 0.5em;
			background: common.$theme-settings-fieldset-legend-background;
			color: common.$theme-settings-fieldset-legend-text;
			border: 1px solid common.$theme-settings-fieldset-border;
			border-radius: 0.5em;
			padding: 0.2em;

			@include common.forcedColors {
				background: Canvas;
				color: CanvasText;
				border-color: common.$forcedColors-separator;
			}
		}
	}

	.tab-wrapper {
		width: 100%;
		flex: 1;
		contain: size;
		overflow: auto;

		border-top: 2px solid common.$theme-separator;

		@include common.forcedColors {
			border-top-color: common.$forcedColors-separator;
		}
	}

	.input-container, .input-section {
		@include common.flex(column);
		gap: common.spacing('small');
		width: 100%;

		ul {
			margin-top: 0;
		}
	}

	.input-line {
		@include common.flex(row);
		gap: 0.5em;
		width: 100%;
	}

	.row-half {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 1em;
	}

	.message {
		font-size: 0.9em;
		margin: 0.5em 0;
	}

	.error {
		@extend .message;
		color: common.$themecolor-error;
		font-weight: 600;

		@include common.forcedColors {
			color: inherit;
			text-decoration: underline common.$themecolor-error;
		}
	}

	.note {
		@extend .message;
		font-weight: 600;
	}
}

.SpaceInviteCreation {
	display: grid;
	grid: auto-flow / minmax(min-content, 1fr) 2em minmax(min-content, 1fr);
	align-items: center;
	gap: common.spacing(small);

	input[type=checkbox] {
		margin: auto 0;
	}
}

.spaceInvitesTable {
	&, tr, td, th {
		border: 1px solid common.$theme-separator;
		border-collapse: collapse;

		@include common.forcedColors {
			border-color: common.$forcedColors-separator;
		}
	}

	th, td {
		padding: common.spacing(small);
	}

	td {
		white-space: nowrap;
	}
}

.permanentInvite {
	display: block;
	padding: 0.5em;

	.text {
		display: block;
		user-select: none;
		margin-bottom: 0.25em;
	}

	.invite {
		font-family: common.$theme-font-family-monospace;
		background: common.$theme-spaceconfig-invites-permanentlink-background;
		color: common.$theme-spaceconfig-invites-permanentlink-text;
		border-radius: 0.5em;
		padding: 0.5em 0.75em;
		display: block;
		user-select: all;
		cursor: pointer;

		@include common.forcedColors {
			background: Canvas;
			color: CanvasText;
			border: 1px solid common.$forcedColors-separator;
		}

		&:hover {
			text-decoration: underline;
		}
	}
}
