@use '../../../styles/common';

.SpaceStateConfigurationUi {
	.spaceLayout {
		height: min(max(50vh, 20em), 80vh);
		width: 100%;
		contain: size;

		&.singleRoom {
			height: max(15vh, 10em);
		}

		.RoomGrid {
			flex: 2;
			contain: size;
			display: grid;
			padding: 0.25em;
			grid-auto-columns: minmax(8em, 1fr);
			grid-auto-rows: minmax(6em, 1fr);
			overflow: auto;
			gap: common.spacing('tiny');
			place-items: center;

			.room {
				contain: size;
				width: 100%;
				height: 100%;
				padding: 1px;
				overflow: clip;

				> button {
					@include common.center-flex(column);
					position: relative;
					contain: size;
					width: 100%;
					height: 100%;
					overflow: clip;
				}

				canvas {
					max-width: 100%;
					max-height: 100%;
				}

				.coordinates {
					position: absolute;
					top: 0;
					left: 0;
					border-radius: common.spacing('small') 0 common.spacing('small') 0;
					max-width: calc(100% - 0.5em);
					padding: 1px;
					font-size: smaller;
					background-color: rgba(common.$theme-normal-background-secondary, 0.6);
				}

				.overlay {
					position: absolute;
					pointer-events: none;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					display: grid;
					grid-template-rows: 1.5em 1fr 1.5em;
					grid-template-columns: 1.5em 1fr 1.5em;
					grid-template-areas:
						". direction-N ."
						"direction-W label direction-E"
						". direction-S .";
					place-items: center;

					.label {
						grid-area: label;
						min-width: 0;
						min-height: 0;
						max-width: 100%;
						max-height: 100%;
						border-radius: 0.25em;
						padding: 1px 2px;
						font-size: smaller;
						overflow: clip;
						text-overflow: ellipsis;
						overflow-wrap: break-word;
						color: common.$theme-normal-text;
						background-color: rgba(common.$theme-normal-background-secondary, 0.6);

						display: -webkit-box;
						-webkit-box-orient: vertical;
						-webkit-line-clamp: 2;
						line-clamp: 2;
					}

					.directionArrow {
						@include common.center-flex;
						width: 1.45em;
						height: 1.45em;
						font-size: 0.8em;
						border: 2px solid transparent;

						&.direction-N {
							grid-area: direction-N;
						}
						&.direction-E {
							grid-area: direction-E;
						}
						&.direction-S {
							grid-area: direction-S;
						}
						&.direction-W {
							grid-area: direction-W;
						}

						color: common.$theme-normal-text;
						&.state-enabled {
							border-color: #00aa00;
							background-color: #00aa0088;
						}

						&.state-limited {
							border-color: #fff600;
							background-color: #ad930088;
							border-style: dashed;
						}

						&.state-disabled {
							border-color: #880000;
							background-color: #88000088;
						}
					}
				}
			}
		}

		.roomList {
			.roomListItem {
				min-height: 3em;
				gap: 0.5em;

				.name {
					margin: 3px;
					flex: 1;
					max-width: 100%;
					overflow: clip;
					text-overflow: ellipsis;
				}

				.icon {
					height: 1.5em;
					width: 1.5em;
					margin: 0.75em;
				}
			}
		}
	}
}

.RoomConfigurationBackgroundPreview {
	img, canvas {
		max-width: min(24em, 33vw);
		max-height: min(24em, 50vh);
		object-fit: scale-down;
	}
}
