@import '../../../styles/constants';

$scrollbar-colors: (
	dark: (
		thumb: $grey-darkest,
		hover: $black,
	),
	lighter: (
		thumb: $grey-mid,
		hover: $grey-darker,
	),
);

.SlimScrollbar {
	&::-webkit-scrollbar {
		width: 0.5em;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 0.5rem;
	}

	@each $color-name, $color-data in $scrollbar-colors {
		&.#{$color-name} {
			&::-webkit-scrollbar-thumb {
				background-color: map-get($color-data, "thumb");
			}

			&::-webkit-scrollbar-thumb:hover {
				background-color: map-get($color-data, "hover");
			}
		}
	}

	&.extraSlim {
		&::-webkit-scrollbar {
			width: 0.3em;
		}

		&::-webkit-scrollbar-thumb {
			border-radius: 0.3rem;
		}
	}
}
