@import '../../../styles/utils';

.editor .editor-ui .editor-assetui {
	gap: 0.3em;

	.layerList, .assetImageList {
		display: flex;
		flex-flow: column;
		align-items: stretch;
		gap: 0.3em;

		ul {
			padding: 0 0.5em;

			li {
				margin-top: 0.5em;
				display: flex;
				gap: 0.3em;

				.layerName, .imageName {
					flex: 1;
					display: flex;
					align-items: center;
					background: #bbb;
					min-width: 0;
					padding: 0.4em;
				}

				.layerName {
					cursor: pointer;
					position: relative;

					&:hover {
						background: #aaa;
					}
				}

				&.selected {
					.layerName, .layerName:hover {
						@include corner-border(2px, black, 0.5em, #999);
					}
				}

				.alphaMaskLayer::after {
					content: '🔲';
					position: absolute;
					right: 0.3em;
				}

				.imageName {
					user-select: all;
					word-break: break-all;
					overflow-wrap: anywhere;
				}

				&.preview img {
					width: 100%;
					background: var(--editor-background-color #1099bb);
				}
			}
		}
	}

	.hiddenUpload {
		display: flex;
		flex-direction: column;
		text-align: center;

		input {
			display: none;
		}
	}
}
