@use '../../../styles/common';

.editor .editor-ui .editor-assetui {
	gap: 0.3em;

	.layerList, .assetImageList {
		display: flex;
		flex-flow: column;
		align-items: stretch;
		gap: 0.3em;

		ul {
			padding: 0 0.5em;

			li {
				margin-top: 0.5em;
				display: flex;
				gap: 0.3em;

				.layerName, .imageName {
					flex: 1;
					display: flex;
					align-items: center;
					background: common.$theme-editor-asset-layerentry-background;
					color: common.$theme-editor-asset-layerentry-text;
					min-width: 0;
					padding: 0.4em;
					overflow: hidden;
					text-overflow: ellipsis;

					@include common.forcedColors {
						background: Canvas;
						color: CanvasText;
					}
				}

				.layerName {
					cursor: pointer;
					position: relative;

					@include common.forcedColors {
						background: ButtonFace;
						color: ButtonText;
						border: 1px solid ButtonBorder;
					}

					&:hover {
						background: common.$theme-editor-asset-layerentry-hover-background;

						@include common.forcedColors {
							background: ButtonFace;
							border-color: common.$forcedColors-accentColorFallback;
							border-color: AccentColor;
						}
					}
				}

				&.selected {
					.layerName, .layerName:hover {
						@include common.corner-border(2px, common.$theme-editor-asset-layerentry-selected-border, 0.5em, common.$theme-editor-asset-layerentry-selected-border-spacing);

						@include common.forcedColors {
							background: SelectedItem;
							color: SelectedItemText;
							border: 1px solid ButtonBorder;
						}
					}
				}

				.alphaMaskLayer::after {
					content: '🔲';
					position: absolute;
					right: 0.3em;
				}

				.imageName {
					user-select: all;
					word-break: break-all;
					overflow-wrap: anywhere;
				}

				&.preview img {
					width: 100%;
					background: common.$theme-editor-asset-imagepreview-background;
					forced-color-adjust: none;

					@include common.forcedColors {
						background: #000;
					}
				}
			}
		}
	}

	.hiddenUpload {
		display: flex;
		flex-direction: column;
		text-align: center;

		input {
			display: none;
		}
	}
}
