name: CI

on:
  # Triggers the workflow on push but only for the master branch
  push:
    branches: [ master ]
  # Triggers the workflow on any pull request
  pull_request:
  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

jobs:
  build:
    name: Build
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - run: pnpm install --frozen-lockfile
      - run: pnpm run build

  install-common:
    name: Check installability of pandora-common
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - run: pnpm install --no-lockfile
        working-directory: ./.github/workflows/common-install-check

  lint:
    name: Lint
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - run: pnpm install --frozen-lockfile
      - run: pnpm run lint

  test:
    name: Test
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - run: pnpm install --frozen-lockfile
      - run: pnpm run type-check:test
      - run: pnpm run test --ci

  test-e2e:
    name: Test (E2E)
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
      - run: corepack enable
      - name: Install dependencies
        run: pnpm install --frozen-lockfile
      - name: Install Playwright dependencies and browsers
        run: pnpm run -C pandora-tests playwright-setup-ci
      - name: Typecheck E2E tests
        run: pnpm run -C pandora-tests type-check:test-e2e
      - name: Run E2E tests
        run: pnpm run -C pandora-tests test-e2e
